[2019-02-25 21:57] GeorgeBellTMH opened #1 "Icon and Splash Screen Images"

[2019-02-25 21:57] GeorgeBellTMH opened #2 "Setup Project Infrastructure"

[2019-02-25 21:58] GeorgeBellTMH opened #3 "Get login info from Curtis for app store"

[2019-02-26 00:49] #3 closed

[2019-02-26 00:49] GeorgeBellTMH opened #4 "Create Jesus Collective Org in Apple/Android App Store"

[2019-02-26 00:50] GeorgeBellTMH opened #5 "Setup Beta Testers in App Stores"

[2020-02-26 19:01] lucastbelem opened #6 "Home Page Mobile Design"
We need to get the home page to adjust for mobile view properly.

Access design files here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=21%3A18

Let me know if there are questions. The design is not as organized as the TMH work.

[2020-02-26 19:02] lucastbelem opened #7 "Home - Sub pages mobile design"
We need to get the sub home pages from the navigation to adjust for mobile view properly.

Access design files here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=21%3A18

Let me know if there are questions. The design is not as organized as the TMH work.

[2020-05-28 18:28] lucastbelem opened #33 "Join/Leave Buttons on Homepage don't work"
If you go to beta.jesuscollective.com, you'll see your dashboard and the main blocks (events, groups, etc).

For groups, if you click "join" the button should change as per the design. Currently, the button works (I get added to the group) but the button remains unchanged.
Same for Events with "Attend".

[2020-05-28 20:31] lucastbelem opened #34 "Events and Groups permission issue"
Right now, if I open an event I see on my dashboard, and click "save event", the system switches the event organizer to me and clears all existing attendees. My guess is that this is the case because I'm part of the admin group that is allowed to edit events. However, if someone else on the admin group creates that event, when I make edits and save the event, I should not become the organizer (or

[2020-05-28 20:32] lucastbelem opened #35 "Messaging: Direct messaging"
I know we know this, but wanted to log it:

Direct messaging doesn't currently work.

[2020-05-28 20:35] lucastbelem opened #36 "URL flow as you dig deeper into the platform"
Currently, when you click "create a group" (this applies to other places too), the url displayed is as such: https://beta.jesuscollective.com/app/group/undefined/true

Can we do something to have the url displayed more simply?

[2020-05-28 20:35] lucastbelem opened #37 "Create event and groups doesn't work"
When I click "create a group" or "create an event" it lingers on a blank page and doesn't go anywhere.

[2020-05-30 04:35] GeorgeBellTMH commented on #36
Yes - this url should be something like app/group/create

[2020-05-30 04:51] GeorgeBellTMH commented on #34
This is now working, @mmacedom you will need to apply the styles for readonly events/groups now...

[2020-05-30 04:54] mmacedom commented on #34
@GeorgeBellTMH Ok.

[2020-05-30 04:57] GeorgeBellTMH commented on #33
The code for joining and leaving groups is already done in the group and event screens, but we need to generalize it and bring it out to the homepage...the button should be:
1) For owner it should be a text field saying Owner
2) For non-owner it should be either a join or leave button for groups depending on if they are a member or not - or attend/don't attend for events

[2020-05-30 05:01] GeorgeBellTMH commented on #37
This is resolved

[2020-05-30 05:01] GeorgeBellTMH commented on #7
I think we can close this?

[2020-05-30 05:01] GeorgeBellTMH commented on #6
I think we can close this?

[2020-05-30 05:02] #2 closed

[2020-05-30 05:02] #1 closed

[2020-05-30 18:58] lucastbelem commented on #7
Yep. This was a general note for when Mateus was just starting out. Let's
close it and I'll create specific issues I encounter.

On Sat., May 30, 2020, 1:01 a.m. George Bell, <notifications@github.com>
wrote:

[2020-05-31 02:17] JonEsparaz commented on #33
Within the group/event screen, the button doesn't toggle upon first click - need to reload the page to see state change. I'll prioritize the homepage, then look into this.

[2020-05-31 12:56] lucastbelem opened #42 "Messaging: Reply to comments"
I know this is on the list, but wanted to log it. We need the ability to reply to a specific comment to create a thread rather than just make general posts in the group or event.

[2020-05-31 12:58] lucastbelem opened #43 "Messaging: Comments click"
When I open a group or event with existing comments, and click on a particular comment, it takes me to the person's profile. Clicking on their name should do that, but clicking on their comment shouldn't. We should probably make it so that when you click on their comment it gives me the option to reply.

[2020-05-31 13:03] lucastbelem opened #44 "Right hand table on create event/group"
There is a blank table on the right hand side of the screen when I create events/groups. I think it's there because when an event exists, that's where commenting would go. However, when creating the event, this table should not show up. The question is, what should the Create Event/Group Page look like.

We probably need design for this.

[2020-05-31 13:22] lucastbelem opened #45 "Forms: Default location for events"
Let's default to Zoom actually as most events will probably be hosted this way for now.

[2020-05-31 13:25] lucastbelem opened #46 "Event tile size"
The design in Figma, on the dashboard, the tiles for events are supposed to be smaller than the boxes for groups.

[2020-05-31 13:27] lucastbelem opened #47 "Messaging: Start Conversation button on read-only profiles"
There should be a "Start conversation" button on read-only profiles as per design found here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=416%3A27131

[2020-05-31 13:29] lucastbelem opened #48 "Profiles should have events and group membership"
When looking at my own profile, I should be able to see a list of events and groups I'm a part of or own as per design found here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=415%3A13

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713146150)

[2020-05-31 13:46] lucastbelem opened #49 "Forms: My interests in profile view"
When someone creates their profile, the "My interests" section should be a dropdown rather than an open field.  Dropdown options available here: https://docs.google.com/spreadsheets/d/11jLBEOPCFnCuWNdVLgw_XafGTiFdq3N2dvIW_d1J2N4/edit?usp=sharing

When viewing their profile later, the "My Interests" section should look more like bubbles, like this: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgw

[2020-05-31 13:49] lucastbelem opened #50 "Maps: Map on profile page"
When viewing my own or someone else's profile, a map should appear that pinpoints their location as per the design here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=415%3A13

[2020-05-31 13:54] lucastbelem opened #51 ""Show All" Group or Events design"
When I go into "Show All" for events or groups, the "People you may want to connect with" and "Latest conversations" should disappear. The events and groups should extend to the whole page displaying all events as per design here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=415%3A13

[2020-05-31 13:56] lucastbelem opened #52 "Ability to invite someone/share the event"
Could we queue this as a v2 development?

[2020-05-31 13:59] #37 closed

[2020-05-31 14:02] lucastbelem opened #53 "Event creation time"
When creating an event, the time of the event should default to none and be mandatory so that we don't get events created with wrong times.

[2020-05-31 14:08] #44 closed

[2020-05-31 14:10] lucastbelem commented on #45
It currently defaults to Zoom, but event when I add a url, it still won't save and requests a location within the "Save" button.

[2020-05-31 14:12] lucastbelem opened #54 "Create event and groups save and delete buttons too far down"
When creating an event or group, the "Save" and "Delete" buttons appear too far down the page.

[2020-05-31 14:17] lucastbelem opened #55 "Greyed out graphics to images"
For future development, it would be great for the greyed out graphics above groups and resources  to become spots for uploading images.

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713147537)

[2020-05-31 14:17] lucastbelem opened #56 "Forms: Text editing updates"
Can we reduce the formatting options in the text editor? I.e. Graphik should always be the font, and people probably don't need as many options as are currently available.

[2020-05-31 14:19] lucastbelem opened #57 "Forms: Profile Location as city"
Person's profile should display their location as a city rather than long and lat.

[2020-05-31 14:21] lucastbelem opened #58 "Forms: Enable tabbing through Form Inputs"
When creating my profile, I should be able to press "tab" and have the cursor go straight to the next field to be filled. Currently, tabbing takes me to the next non-editable field (the field title).

[2020-05-31 14:27] lucastbelem opened #59 "Messaging: Latest Conversation Module"
As per design, "Latest Conversations" should appear below "People you may want to connect with".

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713148349)

[2020-05-31 14:28] lucastbelem opened #60 "Messaging: Direct Message viewing"
As per design found here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=415%3A13 there should be a "Messages" link on profiles so the person can find their personal/direct messages.

[2020-05-31 14:30] lucastbelem opened #61 ""Show all" button in "Show all" page"
The "Show all" button should disappear when I'm in the "Show all" screen.

[2020-05-31 14:32] GeorgeBellTMH commented on #45
This should be fixed.

[2020-05-31 14:34] GeorgeBellTMH commented on #50
Also their location should not be shown as GPS coordinates

[2020-05-31 14:37] GeorgeBellTMH commented on #58
I looked into this, there are some problems getting it done...we will need to wait for a bit until the library allows for this...

[2020-05-31 14:38] GeorgeBellTMH commented on #61
We are keeping this as it is needed when we implement recommended...

[2020-05-31 14:39] #7 closed

[2020-05-31 14:39] lucastbelem opened #62 "Maps: Finding profiles on map"
When I look at the map on the dashboard, I only see 2 points: A which is pinned on Toronto, and B which is pinned on George (which actually shows George in a different location that his). I should be able to see all profiles created.

[2020-05-31 14:39] #6 closed

[2020-05-31 14:41] GeorgeBellTMH commented on #62
Second bit is v2

[2020-05-31 14:45] GeorgeBellTMH opened #63 "Notifications"
We need to make use of the amplify and expo notification functionality to alert when there are new:

-DirectMessages
-Messages in groups we are members of
-Jesus Collective CRM
-New Resources in resources we follow

Notifications should go out on the appropriate channel (if they are mobile or web or email) and be throttled appropriately.

Notifications should be able to link directly to the relate

[2020-05-31 14:46] GeorgeBellTMH commented on #63
If user is logged in this should be notified in app via a toast item or some other mechanism.

[2020-05-31 14:51] GeorgeBellTMH commented on #52
This should create an email or text and be sent via amplify/expo notification api.

[2020-05-31 14:52] #61 closed

[2020-05-31 14:54] lucastbelem commented on #62
Ok. Moving second bit to a different issue.

[2020-05-31 14:54] lucastbelem opened #64 "Maps: Map logic filters"
At some point, we'll need to add logic around who sees who in the platform (i.e. partners, friends, curriculum-only friends).

[2020-05-31 15:48] GeorgeBellTMH opened #65 "Resources: Ability to re-order headers"
Headers should be sorted and re-orderable

[2020-05-31 15:49] GeorgeBellTMH opened #66 "Resources: Ability to add/delete/update new resource episode and resource series"
Series and Episodes should be able to be created and all fields editable
- [x] add resource/series/episode code
- [x] update resource/series/episode code
- [x] delete resource/series/episode code
- [ ] reorder resource/series/episode code
- [x] add resource /series/episode ui
- [x] update text fields /series/episode ui
- [ ] update link fields /series/episode ui
- [x] delete resource /series/episo

[2020-05-31 15:50] GeorgeBellTMH opened #67 "Resources: Show downloadable links for videos and handouts"
Downloadable links and handouts should be visible in list view

[2020-05-31 15:51] GeorgeBellTMH opened #68 "Resources: Add podcast view"
Create a view for podcasts

[2020-05-31 16:17] GeorgeBellTMH opened #69 "Forms: Other peoples profiles don't show profile pic"
Profile pic is not being shown when looking at read-only profiles (other peoples)

[2020-05-31 16:17] GeorgeBellTMH commented on #69
(It works elsewhere, so it's just a logic issue on the profile page)

[2020-05-31 16:18] GeorgeBellTMH opened #70 "Show Members profile photos"
Groups/events/resources should show members profile image, and clicking on them should take you directly to the users profile.

[2020-05-31 16:21] GeorgeBellTMH opened #71 "Add automated testing for the following:"
* [ ] Resource Create
* [ ] Org Create
* [ ] Joining/Leaving
* [ ] Updates of Resources/Org
* [ ] Updating Profile
* [ ] Messageboards
* [ ] Direct Messaging
* [ ] Read only Resource/Org/Profiles

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713148894)

[2020-05-31 16:23] GeorgeBellTMH opened #72 "Ensure testing doesn't fail for Style issues"
Currently the tests are failing because some fields are not fully visible in mobile and tablet...styles should allow for all elements to be visible during testing.

[2020-05-31 17:04] #56 closed

[2020-05-31 17:26] lucastbelem commented on #71
Want to assign this one to me? I sent out a test (from the test plan you created a few weeks ago) to people and got some responses already.

[2020-05-31 17:54] GeorgeBellTMH commented on #71
This is more for automated testing, but you can also add it to the manual testing for now until we get the automated stuff done...

[2020-05-31 18:06] lucastbelem commented on #71
Sounds good. I think most of those are on my list for the manual stuff
anyways.

On Sun, May 31, 2020 at 1:54 PM George Bell <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Coordinator and Administrator

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments

[2020-05-31 18:44] lucastbelem opened #74 "Profile creation issue"
A few people have performed tests on beta and came across issues creating their profile. As this isn't generalized, I suspect the issue is due to human error, though I wonder how much of it is related to how the design is showing. Here is an example of the error someone was getting:
<img width="418" alt="Screen Shot 2020-05-31 at 2 20 26 PM" src="https://user-images.githubusercontent.com/48295718/

[2020-06-01 01:30] #33 closed

[2020-06-01 01:46] #69 closed

[2020-06-01 01:50] GeorgeBellTMH commented on #74
@mmacedom can you see if there is a better place to put the error message (maybe make it bold/red) for now...we can try to make it highlight the missing fields in v2

[2020-06-01 01:50] GeorgeBellTMH opened #80 "Everyone is at lat:0 long:0"
Likely there is a problem with the map selector...

[2020-06-01 01:52] GeorgeBellTMH opened #81 "Maps: Pin Styling"
Need to Figure out how we differentiate events, profiles and orgs pins on the map.

[2020-06-01 01:54] GeorgeBellTMH opened #82 "Map: Create Callouts"
When you click on a pin on the map it should open a map callout box with information and links to that user/org/event

[2020-06-01 02:55] mmacedom commented on #74
@GeorgeBellTMH Yes, I'll look into it.

[2020-06-01 03:20] JonEsparaz opened #85 "Messages: Hot reload when posting"
When I post a message in a group or event, I need to refresh the page before the message appears.

Additional: the text editor should probably clear after the message posts to avoid double-clicks creating duplicate posts.

[2020-06-01 07:15] #70 closed

[2020-06-01 07:42] GeorgeBellTMH opened #87 "Members should only show once"
Members are showing up multiple times in the same group, likely need to ensure they are unique. May also need to update the join/leave queries to check if items exist, or to delete all instead of just one of them.

[2020-06-01 10:28] GeorgeBellTMH opened #88 "Events should be split into Past and Upcoming events on the homepage"
There should be a way to filter only to upcoming events, previous events and all events on the homepage and events page.

Events should be sorted as upcoming first, or most recent first...

[2020-06-01 10:39] GeorgeBellTMH opened #89 "Move Group/Event changes into Resources"
Resources should have the same features as Event/Group

- [x] Buttons show up correctly for owners/non-owners
- [x] Join/Leave
- [ ] Messageboard
- [x] Validation
- [x] ??? Others ???

[2020-06-01 11:10] GeorgeBellTMH commented on #51
@mmacedom I have removed the right column sections on the show all pages, you can change this to a grid now (it should scroll vertically in desktop, and be however many cards wide that fit on the screen...)

[2020-06-01 11:15] GeorgeBellTMH opened #90 "Ability to embed YouTube livestream in an event, with chat"
New live event option - live stream with chat

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713149139)

[2020-06-01 11:16] GeorgeBellTMH opened #91 "Events send reminder email/notification shortly before event time"
Reminder that even is starting soon, sent via appropriate channel

[2020-06-01 11:32] GeorgeBellTMH opened #92 "Resources: Setting Resource Image not working"
Image uploads but is 401...update to use most recent upload code.

[2020-06-01 12:54] lucastbelem commented on #81
In the design, we use colours to differentiate the membership groupings (i.e. partners, friends, curriculum users) and have a filter that allows you to view:

- [ ] Groups only
- [ ] Events only
- [ ] Profiles only
- [ ] Orgs only

However, currently, all of these have the same colouring.

[2020-06-01 14:55] lucastbelem opened #93 "Members' profile pics in a group or event"
A person's profile picture in a group or event shows up too far apart from the others in comparison to design. Here is a screenshot:
<img width="441" alt="Screen Shot 2020-06-01 at 10 54 30 AM" src="https://user-images.githubusercontent.com/48295718/83421604-5ca7bb00-a3f6-11ea-8484-c9a3559f2639.png">

[2020-06-01 17:44] JonEsparaz commented on #87
This is likely resolved going forward by #76 and #78 going forward, but we can add error checking on the queries too.

[2020-06-01 18:17] JonEsparaz opened #94 "Members profile images hot reload"
Within a Group, when I join/leave, the member profile images don't update until I refresh.

[2020-06-01 18:36] GeorgeBellTMH commented on #74
Can we make sure the logout button is visible too...

[2020-06-01 18:42] GeorgeBellTMH commented on #80
I have updated this to set the default location to Toronto...and clarify that you need to drag the pin to your location.

[2020-06-01 18:42] #80 closed

[2020-06-01 20:05] GeorgeBellTMH commented on #62
This is working, it's just that everybody is over in Asia....zoom out...

[2020-06-01 20:29] #62 closed

[2020-06-01 20:35] #47 closed

[2020-06-01 20:37] #45 closed

[2020-06-01 21:35] mmacedom commented on #54
@lucastbelem the issue has been fixed. Can you confirm that it's good on your end?

[2020-06-01 21:49] JonEsparaz opened #99 "Don't show current user in People you may connect with"
Starting a conversation with yourself shouldn't be a thing.

[2020-06-01 22:00] JonEsparaz opened #100 "Organizations: Enable Creation"
Within the signup flow, you should have the option to create an organization, then you can create:

- an individual (admin) account **and** the organization (an individual should not be able to create an organization after the fact - and this is a very unlikely scenario given the payment structure).

This is the **only** way to create an organization.

Stuff to build/reuse from other components an

[2020-06-01 22:01] JonEsparaz opened #101 "Organizations: Add to dashboard"
Should match style on Figma. Button should have a single action: view

- [x] Frontend
- [x] Query data

[2020-06-01 22:03] JonEsparaz opened #102 "Organizations: OrganizationScreen"
The follow views are required:

* [x] Admin
* [x] Non-admin (read-only)

The following options/buttons are required:

* [ ] Follow/following (non-admins)
* [ ] Member/request join/pending/invited (non-admins)
* [x] Edit (admins)
* [ ] Messages (admins)

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713130079)

[2020-06-01 22:04] JonEsparaz opened #103 "Organizations: Settings/Edit Page"
When an admin clicks settings, they need to be able to edit (this is very similar to an individual profile edit)

[2020-06-01 22:05] JonEsparaz opened #104 "Organizations: Invite Members and Handle Join Requests"
* [ ] Lambda function via HTTPs trigger to send email using the Pinpoint API, create a new user that is connected to the organization
* [x] Verify no-reply@jesuscollective.com in Pinpoint
* [ ] Build frontend interface (likely within Account Settings) for organization admins to send invites to new users via email
* [ ] Add security with Cognito to ensure only authorized users can trigger the Lambd

[2020-06-01 23:00] mmacedom commented on #72
@GeorgeBellTMH Can you elaborate? What fields are not visible?

[2020-06-01 23:03] mmacedom commented on #46
@lucastbelem Items has been fixed

[2020-06-01 23:25] GeorgeBellTMH commented on #72
If you run npm test and then click on the test that pops up you will see.

Sent from my iPhone

On Jun 1, 2020, at 7:00 PM, mmacedom <notifications@github.com> wrote:

﻿

@GeorgeBellTMH<https://github.com/GeorgeBellTMH> Can you elaborate? What fields are not visible?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/jesus-colle

[2020-06-02 00:16] mmacedom commented on #93
@lucastbelem The issue has been taken care of. Can you confirm on your end?

[2020-06-02 00:17] mmacedom commented on #34
@lucastbelem @GeorgeBellTMH The issue has been taken care of. Please confirm on your end.

[2020-06-02 01:18] mmacedom commented on #74
@GeorgeBellTMH @lucastbelem Can you tell me what medium (desktop, tablet, mobile) that button was being cut off?

[2020-06-02 01:58] GeorgeBellTMH commented on #74
Desktop and ipad – the private information fields are extended past the column when creating an account.

I think the other ones I saw are fixed…
From: mmacedom <notifications@github.com>
Reply-To: jesus-collective/mobile <reply@reply.github.com>
Date: Monday, June 1, 2020 at 9:18 PM
To: jesus-collective/mobile <mobile@noreply.github.com>
Cc: George Bell <george.bell@themeetinghouse.com>, Mention

[2020-06-02 03:33] mmacedom commented on #74
@GeorgeBellTMH  @lucastbelem the error validation has been fixed (red and bold). Please confirm on your end

[2020-06-02 04:02] JonEsparaz opened #107 "Organizations: Multiple Admins"
The owner and other admins if they exist, should be able to add new admins. Edit: we don't know if this is actually a thing (see #127)

[2020-06-02 12:51] lucastbelem commented on #93
Looks beautiful!

[2020-06-02 12:51] #93 closed

[2020-06-02 12:59] lucastbelem commented on #100
Not sure if this is where this comment should go, but here you go:

There should only be 2 ways to create organizations:
1. At sign up, when someone creates their org profile, through the sign up flow
2. When a Jesus Collective admin decides to create one (should be able to change ownership to that organization's admin, who may need to create their own profile) - this may happen when an individual

[2020-06-02 13:17] GeorgeBellTMH commented on #100
Let’s discuss more this afternoon.

Sent from my iPhone

On Jun 2, 2020, at 8:59 AM, lucastbelem <notifications@github.com> wrote:

﻿

Not sure if this is where this comment should go, but here you go:

There should only be 2 ways to create organizations:

  1.  At sign up, when someone creates their org profile, through the sign up flow
  2.  When a Jesus Collective admin decides to create one (s

[2020-06-02 19:18] GeorgeBellTMH commented on #101
This partly exists if you enable it in constants...

[2020-06-02 19:20] JonEsparaz commented on #101
Already did, I've started editing the content on the cards.

[2020-06-02 19:20] GeorgeBellTMH commented on #104
Emails/alerts can be done via pinpoint which is part of amplify...I've only tested it via the amazon web interface - but I believe there is an api as well...it also allows for texting and phone calls! We can do a call at some point and I can show you all the stuff it can do...very fun...

[2020-06-02 19:23] JonEsparaz commented on #107
This will be achieved by having a field admins that is an array of individuals with owner-level authorization. The array must have at least one admin at all times.

Admins can be added and removed dynamically by other admins.

[2020-06-02 19:28] GeorgeBellTMH commented on #104
More likely though via lambda...since we are emailing people who are not in pinpoint.

[2020-06-02 19:29] JonEsparaz opened #108 "Sign in issue"
@lucastbelem mentioned that people are having trouble getting past the sign in page.

I just experienced that pressing Enter doesn't do anything. We might need to add a key binding, but this is a likely "cause" of the issue.

OS: Windows 10
Browser: Firefox, Chrome, Edge.

[2020-06-02 19:30] JonEsparaz commented on #104
SES?

[2020-06-02 19:59] JonEsparaz opened #110 "Can't update profile"
If I make an edit, then click Save and Publish, leave, then return to my profile, the changes are not reflected.

[code]

[2020-06-02 20:56] GeorgeBellTMH commented on #104
https://aws.amazon.com/ses/
https://aws.amazon.com/pinpoint/

Sent from my iPhone

On Jun 2, 2020, at 3:30 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

More likely though via lambda...since we are emailing people who are not in pinpoint.

SES?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/jesus-collective/mobile/issues/

[2020-06-02 21:31] JonEsparaz commented on #87
@GeorgeBellTMH I've played around a little, and it's pretty much impossible for you to join twice. Do you still want to add uniqueness checks?

[2020-06-02 21:34] JonEsparaz commented on #60
@lucastbelem where is this supposed to go? The profile page is basically the profile editor atm.

[2020-06-02 21:37] GeorgeBellTMH commented on #87
I’ll clear the membership table...

Sent from my iPhone

On Jun 2, 2020, at 5:32 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

@GeorgeBellTMH<https://github.com/GeorgeBellTMH> I've played around a little, and it's pretty much impossible for you to join twice. Do you still want to add uniqueness checks?

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2020-06-02 21:42] GeorgeBellTMH commented on #60
I added the button yesterday. You can turn it on in constants. Mateus is working on styling it.

I’m not sure at this point it’s worth doing a read only version of your own profile...it should just always be editable.

Sent from my iPhone

On Jun 2, 2020, at 5:34 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

@lucastbelem<https://github.com/lucastbelem> where is this supposed to go? The pro

[2020-06-02 21:53] GeorgeBellTMH commented on #50
Should be able to use existing, just need to pass in the map item and enable the map on the profile page.

[2020-06-02 21:54] GeorgeBellTMH commented on #48
All profiles should show the events and groups that the user is a member of.

[2020-06-02 21:56] #110 closed

[2020-06-02 22:16] JonEsparaz opened #112 "Footer: Styling and Functionality"
Links look a little funky and all go to the events page.

[2020-06-02 23:57] lucastbelem commented on #60
Agreed. Let's leave own profile as editable only.

On Tue., Jun. 2, 2020, 5:42 p.m. George Bell, <notifications@github.com>
wrote:

[2020-06-03 03:31] JonEsparaz commented on #81
Got the custom styling done.

![image](https://user-images.githubusercontent.com/48423418/83592738-fff8ed00-a528-11ea-848f-16571a65ed13.png)

@lucastbelem right now everyone is a partner (I think), so the pins won't differentiate by user, but it's easy enough to implement. Also, do we want to colour code groups, events etc?

[2020-06-03 05:17] #34 closed

[2020-06-03 07:19] #81 closed

[2020-06-03 07:23] #94 closed

[2020-06-03 11:15] GeorgeBellTMH commented on #51
@mmacedom you can use the following code in MyGroups for picking the style depending on whether the items should wrap or not...(wrap is true if it should wrap)

style={this.state.wrap?styles.firstStyle:styles.secondstyle}

[2020-06-03 13:02] lucastbelem commented on #81
Yeah, good call Jon. I think ultimately we do want to colour code groups
and events, but the design doesn't currently accommodate that. Let's leave
it for now and look at this during v2.

On Wed, Jun 3, 2020 at 3:19 AM George Bell <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Coordinator and Administrator

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E

[2020-06-03 13:17] lucastbelem opened #117 "Resources: Join/Delete/Leave styling"
When looking at resources, we have the same initial problem as in events where all buttons show up at once rather than "join" when I haven't joined, or "leave" when I haven't left.

[2020-06-03 13:18] lucastbelem opened #118 "Resources: Members show up multiple times when joining a resource"

[2020-06-03 13:29] lucastbelem opened #119 "Resources: How to find it"
Currently, resources show up on the dashboard and also when I click on Resources in the main menu tab. Resources should only show up in the dashboard when I already "joined" or "followed" a resource. Otherwise, a Resource should only be found by clicking "Resources" in the main menu tab.

[2020-06-03 13:31] lucastbelem opened #120 "Resources: Small drop down menu"
The Resource menu tab should open a dropdown when clicked on displaying all available resources (or most popular ones). Clicking on a resource should take me directly to the overview page of that resource.

[2020-06-03 13:41] lucastbelem opened #121 "Resource: Editing title and description not working"
I tried to update the kids and youth information in the resource but the editor isn't working properly. When I type, my input disappears immediately. However, if I press "enter" fast enough, my edit saves.

[2020-06-03 13:42] GeorgeBellTMH commented on #121
Still some bugs…please don’t edit kids and youth…edit podcasts only…

From: lucastbelem <notifications@github.com>
Reply-To: jesus-collective/mobile <reply@reply.github.com>
Date: Wednesday, June 3, 2020 at 9:41 AM
To: jesus-collective/mobile <mobile@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [jesus-collective/mobile] Resource: Editing title and description not wor

[2020-06-03 13:45] lucastbelem commented on #121
Sounds good. Do you want me to edit podcasts as a place to test? With our time crunch, and podcasts not being a priority, I'd rather not spend too much time on it. However, if you're saying that podcasts is ready for editing, and bugs found there will influence bugs we find on Kids and youth, I'm happy to do it.

Thoughts?

[2020-06-03 13:46] GeorgeBellTMH commented on #121
Ya, just don’t edit kids and youth until we are sure the editing works…re-importing it will be a pain…

Testing in podcasts, you can do whatever you want there…we will delete it on fridya…

From: lucastbelem <notifications@github.com>
Reply-To: jesus-collective/mobile <reply@reply.github.com>
Date: Wednesday, June 3, 2020 at 9:45 AM
To: jesus-collective/mobile <mobile@noreply.github.com>
Cc: Georg

[2020-06-03 13:49] lucastbelem commented on #121
Ok. Testing/editing podcasts will be useful for this week's launch though?

[2020-06-03 16:27] GeorgeBellTMH commented on #112
Some of these should link to the main website (www.jesuscollective.com)...

[2020-06-03 16:28] GeorgeBellTMH commented on #108
Also safari...

[2020-06-03 18:07] mmacedom commented on #51
@GeorgeBellTMH great!

[2020-06-03 18:43] JonEsparaz opened #123 "Events/Groups: Handle Long Titles and Descriptions"
Looks like there's some spillover. We can fix the styling and/or limit the number of characters.

![image](https://user-images.githubusercontent.com/48423418/83676180-42adda00-a5a8-11ea-9dbf-d4b5d96c361d.png)

[2020-06-03 20:09] JonEsparaz opened #125 "Header/Footer Logo Resolution"
Pretty minor, but the JC logo has some sort of resolution issue. Should be fixed before a public launch.

[2020-06-03 22:27] JonEsparaz opened #127 "Orgs Schema V2 + Looming Questions"
Still some questions to be answer, but for now we definitely need the following changes:

- [x] The ability for an organization to create sub-organizations.
Ex. The Meeting House -> TMH Uptown Toronto, TMH Oakville, etc
- [x] An individual can only be part of **one** organization (we don't need many-to-many connections)

Stuff we don't know yet:
- Can an organization post, create events, etc as th

[2020-06-03 22:48] JonEsparaz commented on #127
@lucastbelem I think most of what we discussed is here.

[2020-06-04 00:12] #54 closed

[2020-06-04 01:18] mmacedom commented on #51
@GeorgeBellTMH I added the code you sent above in that container, created the classes in style.ts, modified the class name in the code above and also checked that the prop was set to boolean in the interface Props on line 22 of MyGroups and the component is not wrapping in the "Event" or "Group" screens.

The "this.state.wrap" was giving an error saying that "wrap was not set in readOnly<State> so

[2020-06-04 02:31] mmacedom commented on #51
@GeorgeBellTMH Shouldn't the wrap prop be initialized?

[2020-06-04 02:32] mmacedom commented on #72
@GeorgeBellTMH I adjusted the width of the fields that were overflowing beyond the container width. Should have done the trick now. Let me know on your end if it's solved

[2020-06-04 02:47] mmacedom commented on #117
@lucastbelem this is a functionality issue. Perhaps @GeorgeBellTMH or Jon are working on it?

[2020-06-04 03:45] #46 closed

[2020-06-04 03:47] mmacedom commented on #82
@GeorgeBellTMH @lucastbelem The call outs have been styled.

[2020-06-04 07:57] #118 closed

[2020-06-04 18:42] lucastbelem commented on #112
The bolded titles should be headers, not actual links. What's below the headers are links. Here is where each link should go:

**About Us**
Who we are: jesuscollective.com
Our Mission: jesuscollective.com/discover
Team: jesuscollective.com/team

**Events** (need to add 2 links below)
My Events: a page with all of my events. For now, it can probably just go the person's dashboard
Recommended: Doesn

[2020-06-04 18:53] lucastbelem opened #129 "Map: Filter defaults"
Map filters should default to:

- Show Profiles ON
- Show Organizations ON
- Show Groups OFF
- Show Events OFF

[2020-06-04 18:55] lucastbelem opened #130 "Map: Toggle Default"
This isn't necessarily an actionable issue, but I wanted to log it. We need to talk about whether the map should default to open or closed. The design would suggest it should default to open, but it kind of takes over the dashboard screen when that's the case, so it may not be ideal. Unless we made it so that when toggled on, it also disappears when scrolled.

[2020-06-04 18:56] GeorgeBellTMH opened #131 "Enable and make search look/work good...."
Search icon is controlled by constants file, and page is kinda already made.

Search uses searchable in schema to stream dynamodb rows to elastic search. Searching is basic, but can be customized as we need it...elasticsearch has an admin interface on amazon and we can customize the queries we send with custom VTL files. Some of this was done for the meetinghouse site and could be reused.

┆Issue

[2020-06-04 18:58] #92 closed

[2020-06-04 18:58] #67 closed

[2020-06-04 18:58] #121 closed

[2020-06-04 19:00] GeorgeBellTMH commented on #117
It's fixed.

[2020-06-04 19:00] #117 closed

[2020-06-04 19:01] #74 closed

[2020-06-04 19:07] GeorgeBellTMH opened #132 "Resources: Deeplinking"
Setup routes so we can link to resource/series/episode by url.

[2020-06-04 19:08] GeorgeBellTMH opened #133 "Resources: Performance with lots of YouTube iframe"
Performance takes a hit when YouTube lots of YouTube videos all load at once.

[2020-06-04 19:10] GeorgeBellTMH opened #134 "Resources: Fade in banner image"
Banner image should fade in once image has loaded.

[2020-06-04 19:10] GeorgeBellTMH commented on #134
Might also be good to have a bit of parallax when scrolling.

[2020-06-04 21:33] lucastbelem opened #136 "Events: Time Zones"
Since Jesus Collective is global, we need the ability to set time zones in events.

[2020-06-05 02:52] JonEsparaz commented on #108
Just noting that this is probably impossible until Expo fixes some stuff.

[2020-06-05 03:04] JonEsparaz commented on #53
I will fix this after #138 is merged.

[2020-06-05 03:22] JonEsparaz commented on #50
@GeorgeBellTMH so we definitely need an [API key](https://developers.google.com/maps/documentation/geocoding/get-api-key) and billing has to be enabled. GCP has $200 USD free credit per month, which is 40,000 requests. After that its $5 USD per 1000 requests. Probably best to make an API request only when a user saves their location to stay within the free tier. Alternatively, we could just use th

[2020-06-05 04:05] JonEsparaz commented on #112
@mmacedom I activated the links in #139. Once it's merged, you can make the styling changes.

@lucastbelem I made my events and my groups go to all events and all groups for now since the footer only shows up on the dashboard, so the link didn't go anywhere.

[2020-06-05 10:05] #49 closed

[2020-06-05 10:05] #129 closed

[2020-06-05 10:05] #99 closed

[2020-06-05 10:31] GeorgeBellTMH commented on #48
My groups now exists on the homepage, just need to put MyGroup into the profile and hide some things...

[2020-06-05 10:33] GeorgeBellTMH commented on #87
Membership table is cleared...

[2020-06-05 10:33] #87 closed

[2020-06-05 11:01] GeorgeBellTMH commented on #88
Fixed

[2020-06-05 11:01] #88 closed

[2020-06-05 11:03] GeorgeBellTMH commented on #89
This is done - MessageBoards not needed at this time in Resources.

[2020-06-05 11:03] #89 closed

[2020-06-05 11:53] GeorgeBellTMH opened #141 "Sponsored Events and Resources"
Events and resources need the ability to be marked as sponsored.

- [ ] Schema changes are done
- [ ] Update checkbox
- [ ] Display on read-only view

[2020-06-05 11:59] GeorgeBellTMH opened #142 "Users/Organizations should be marked as Friends/Partners"
Users/Organizations should be marked as friends/partners depending on their status.

Status will eventually be determined by whether they have paid, for now everyone can be set as a partner.

Organizations that are friends/partners should be identified in the map, and org profile.

Profiles that are friends/partners should be identified in the map & personal profile. They should also be added to t

[2020-06-05 12:02] GeorgeBellTMH commented on #130
My preference is to keep it closed by default, especially early on when there aren't a lot of items on the map.

[2020-06-05 12:02] #130 closed

[2020-06-05 21:46] lucastbelem opened #146 "Map: Lock to page for scroll"
Can we make it so that when someone opens the map, it looks to the page so that if they scroll down without closing the map, it disappears, and reappears if they scroll back up? I'm thinking that people may try to scroll down and get frustrated when they try to scroll down because they'll have to close the map in order to view the dashboard properly.

[2020-06-05 21:51] lucastbelem opened #147 "Profile: Interests dropdown"
Functions great. A bit of styling needed.

[2020-06-06 03:56] JonEsparaz commented on #57
Some relevant discussion in #50

[2020-06-06 15:59] #50 closed

[2020-06-06 16:00] #123 closed

[2020-06-06 17:36] GeorgeBellTMH opened #151 "Style: Readonly profile view has some style issues"
- [x] Margins of About me with regards to the map
- [x] Current Role and Organizational roles fields are centred, should be left aligned
- [x] Interests margin

[2020-06-06 17:37] GeorgeBellTMH opened #152 "Style: No Members Yet text can be smaller"
<img width="471" alt="image" src="https://user-images.githubusercontent.com/47749730/83950711-d2e35d80-a7fa-11ea-95a0-3f3de0607165.png">

This is on groups, resources, events pages...

[2020-06-06 17:41] GeorgeBellTMH opened #153 "Style: Mobile issues on homepage"
<img width="516" alt="image" src="https://user-images.githubusercontent.com/47749730/83950832-919f7d80-a7fb-11ea-9720-04dd9f4e5580.png">

- [x] People you may connect with is on top of groups
- [ ] We likely need to come up with a different design for Show All, My Events, Previous Events and Create Event - since this doesn't really fit on the page anymore

[2020-06-06 20:03] JonEsparaz opened #154 "Map: set initial centre as user's location"
Initial centre is always Toronto(ish) for most map views. Would make sense if we centre the map at the user's "home" location.

- [x] Setup google api and key for map service
- [x] Change credit card
- [x] Setup limits
- [x] Center map at users location
- [ ] Allow user to drag/change location (without using the popup)
- [ ] Allow for reverse lookup of location name
- [ ] Remove the set/change but

[2020-06-06 20:19] JonEsparaz opened #155 "Groups don't have actual location data"
When I create a group, I can't put actual location data (lat, long).

[2020-06-07 02:32] GeorgeBellTMH commented on #155
I think this is by design....

@lucastbelem should groups have location associated with them?

[2020-06-07 02:46] JonEsparaz commented on #155
In any case I'm hiding the map on GroupsScreen in a PR that's coming shortly.

[2020-06-07 04:45] #146 closed

[2020-06-07 13:00] lucastbelem opened #156 "Dashboard: Multiple event views"
Currently, on the dashboard, the following event views exist:
- Default
- My events
- Previous events

However, if I click any of these, there is no way to return to my default view without refreshing the page. We need a solution for this.

[2020-06-07 13:06] lucastbelem commented on #155
You got it, @GeorgeBellTMH. No location by design. But if Jon already built something we can keep it hidden for now until JC says "hey, you know what would be cool? If we could add locations to groups". haha

[2020-06-07 13:10] lucastbelem commented on #154
If this is doable, that'd be really great. The map is only expected to show the city as a person's location. So if we could default them to the city they entered in their profile sign up, that would solve our GPS to city situation. Would this resolve the possible cost associated with this?

[2020-06-07 13:10] lucastbelem commented on #153
For the second point @GeorgeBellTMH mentioned, could a simple views dropdown work?

[2020-06-07 13:13] lucastbelem commented on #108
What does this mean, guys? If a user on one of the mentioned browsers who has Windows 10 won't be able to sign up properly?

[2020-06-07 13:16] lucastbelem opened #157 "Resources: Not working"
Resources is no longer working again. When I click a resource I see the following:

We're sorry — something's gone wrong.

Our team has been notified, but click here fill out a report.

[2020-06-07 13:20] lucastbelem opened #158 "Overall Styling"
@mmacedom In general, when I compare what I see on Beta to what's in Figma, the whole design on Beta seems larger than Figma. Is this just because of the resolution I'm viewing things in?

When I go full screen in Figma, things just seem a bit smaller in general. For example, in Figma, I can always see at least 3 events tiles. But on beta I can only see 2 and 1/2. This pattern continues throughout

[2020-06-07 13:21] lucastbelem opened #159 "Styling: Arrows"
At the end of each row (i.e. events, groups, orgs) I should see arrows indicating I can look through the carousel and see more tiles.

[2020-06-07 13:27] lucastbelem opened #160 "Messaging: Text Editor"
The design for the text editor in Figma is very simple with no formatting provided to the user. Is there a way to hide the format options to match the design? Based on the design, the user doesn't need to do anything (i.e. set fonts, bold, etc). It should just be simple text.

[2020-06-07 13:29] lucastbelem opened #161 "Messaging: Design of comment box"
As per design in Figma, the messaging box in groups/events/etc should look different than it does now (i.e. background of message should be grey. Design found here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=296%3A18522

[2020-06-07 14:49] JonEsparaz commented on #108
No, no. They will be able to sign in if they _click_ the sign in button. This issue is that pressing enter on your keyboard doesn’t do what you expect (ie sign you in).

[2020-06-07 14:53] JonEsparaz commented on #155
Ok. I'll hide it groups filter from the main map too since it won't do anything.

[2020-06-07 14:59] JonEsparaz commented on #154
Centering the map should be doable. The issue with using the city the person centers is they could drag the map selector to a different city than they typed, so we might have Toronto showing up as Montreal.

[2020-06-07 15:04] JonEsparaz commented on #154
I don’t think we’ll have any cost using the Google reverse geocaching service tho. 40,000 API calls = 8,000 users can edit their location 5 times per month free of charge.

[2020-06-07 15:08] lucastbelem commented on #154
Amazing! Let's do it!

On Sun., Jun. 7, 2020, 11:04 a.m. Jon Esparaz, <notifications@github.com>
wrote:

[2020-06-07 16:20] JonEsparaz commented on #160
Should be easy to do.

[2020-06-07 16:22] JonEsparaz commented on #156
I think the default view is upcoming events and clicking upcoming/previous toggles between the two.

[2020-06-07 16:53] JonEsparaz commented on #153
This is probably best. We also need a dropdown for #120.

[2020-06-07 16:54] JonEsparaz commented on #136
@lucastbelem don't know if you missed George's comment: https://github.com/jesus-collective/mobile/pull/138#issuecomment-639382744

[2020-06-08 01:40] lucastbelem commented on #136
Yeah. I agree with his comments. User timezone displayed is best. But I would still prefer to actually display the timezone (i.e. EST) wherever they are so it's not confusing. I.e. Is it 10am here in Australia or 10am in Canada?

[2020-06-08 01:42] JonEsparaz commented on #136
Ok sounds good. On the top of my list for this week.

[2020-06-08 04:58] mmacedom commented on #112
Thanks @JonEsparaz for activating the links.

[2020-06-08 06:01] mmacedom commented on #112
@lucastbelem the footer has been styled.

[2020-06-08 15:16] GeorgeBellTMH opened #163 "Need an admin menu"
Admin menu is needed for assigning users to groups and other admin type things

[2020-06-08 15:16] GeorgeBellTMH commented on #163
Done, Lucas and George are admins for now.

[2020-06-08 15:16] #163 closed

[2020-06-08 15:25] GeorgeBellTMH commented on #157
Fixed

[2020-06-08 15:25] #157 closed

[2020-06-08 16:26] GeorgeBellTMH commented on #141
Relies on parts of #142

[2020-06-08 19:37] JonEsparaz commented on #136
Date/time now displays in the user's time zone with the time zone code to reduce ambiguity. Exception: on EventScreen, the event organizer views the time _exactly_ as they set it. This is to prevent event organizers from getting confused if say they set the time as 10:00am (PST), then the next time they open the page it shows up as 1:00pm (EST).

[2020-06-08 20:12] #136 closed

[2020-06-08 20:15] JonEsparaz commented on #160
Removed the toolbar entirely. I know the design doesn't call for this, but we might want to add back images and emoji.

[2020-06-08 20:17] GeorgeBellTMH commented on #160
Images, emoji and some text formatting...pastors like their bullet points...

@lucastbelem - we need more discussion on this...

[2020-06-08 20:22] GeorgeBellTMH commented on #125
The current one is white on transparent png and 156x43...

@lucastbelem can we get a better version? Maybe 2x the size....still white on transparent.

[2020-06-08 20:23] #155 closed

[2020-06-08 20:23] GeorgeBellTMH opened #165 "Admin"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-08 20:23] #165 closed

[2020-06-08 20:26] JonEsparaz commented on #112
Looks great @mmacedom!

[2020-06-08 20:26] #112 closed

[2020-06-08 20:30] GeorgeBellTMH opened #167 "Admin: CRM"
CRM Features:

Messaging - Admins can:
- [ ] Ability to message individual users via email, txt, phone or mobile alert
- [ ] Ability to create a group of users and message via email, txt, phone or mobile alert
- [ ] Ability to message all members of a group, event, resource or organization
- [ ] Ability to message all friends, partners, admins, verifiedUsers or unverifiedUsers
- [x] Ability to inv

[2020-06-08 20:31] GeorgeBellTMH commented on #167
@lucastbelem this is initial CRM suggestions...

[2020-06-08 20:34] GeorgeBellTMH commented on #167
Most of this can be done via the Pinpoint and Admin API...we may need to create lambda's for some of these.

[2020-06-08 20:36] GeorgeBellTMH opened #168 "Componentize switch"
Lets make the map switch a component, so we can re-use it on the profile page for promoted...

[2020-06-09 00:29] mmacedom commented on #112
Thanks @JonEsparaz! Cheers

[2020-06-09 03:33] mmacedom commented on #158
@lucastbelem It'd be great to chat about this to clarify the issue a bit more.

In terms of things appearing larger on beta, one thing to keep in mind is the fact that every screen on the Figma file was built at 1920px wide where a 13inch laptop is only 1426px wide for instance. So every person's "viewing experience" will vary slightly based on the screen width of their computer.

Also, it is impo

[2020-06-09 04:38] mmacedom commented on #151
@GeorgeBellTMH I just fixed it. Please confirm if good.

[2020-06-09 05:12] JonEsparaz opened #171 "Profiles: Dropdown selectors"
Looks like Type of organization and How many are in the organization are supposed to be dropdown selectors. Just need to know what the options are.

[2020-06-09 10:20] #168 closed

[2020-06-09 11:05] GeorgeBellTMH commented on #133
This was resolved by replacing the iframe with the thumbnail images for playlists...main videos still are iframes, but there is only ever one per page.

[2020-06-09 11:05] #133 closed

[2020-06-09 11:10] #151 closed

[2020-06-09 11:10] GeorgeBellTMH commented on #151
it's good

[2020-06-09 15:05] #82 closed

[2020-06-09 15:06] GeorgeBellTMH opened #172 "Maps: Profile picture is not loading in callouts"
Profile picture is not loading in the profile callouts

[2020-06-09 15:07] GeorgeBellTMH opened #173 "Maps: Callouts should not have scrollbars"
There is some horizontal and vertical scrolling in the map callouts, they should be big enough to not scroll...

[2020-06-09 15:08] GeorgeBellTMH commented on #171
@lucastbelem when you get a chance can you let us know what you want in the drop-downs?

[2020-06-09 15:19] GeorgeBellTMH opened #174 "Maps: Need a way to differentiate events, orgs and people on the map"
Events, orgs and people will need to have a different style pin, the pin can be either red or yellow depending on the creators status (Friend/Partner). Currently they are all the same design, so you can't tell at a glance if a pin is an event, org or person.

[2020-06-09 18:44] JonEsparaz opened #175 "Maps: Only show upcoming events"
The map should only show upcoming events (currently shows past and upcoming).

[2020-06-10 02:36] mmacedom commented on #152
@GeorgeBellTMH @lucastbelem This has been fixed. The font size has been reduced from 20px to 16px.

[2020-06-10 03:47] mmacedom opened #178 "Resources Pages - Overall styling"
@lucastbelem @GeorgeBellTMH I made a few modifications on the resources screens and am looking for some guidance from both of you in terms of what else we need to accomplish on the resource pages.

I'm finding the Resource mock up screens are a bit confusing given what we have live. Please let me know. Thanks

[2020-06-11 02:29] mmacedom commented on #153
@GeorgeBellTMH @JonEsparaz Do you recommend using <Picker> for this drop down or do we have any other already existing drop down component that we can use here?

@GeorgeBellTMH Are you still seeing "People you want to connect with" above Groups on your machine? I haven't been able to replicate it on my local.

[2020-06-11 03:59] mmacedom commented on #173
@GeorgeBellTMH I just fixed this. I had to increase the height of the map from 50% to 75% to fit the event card without any scrolling. Let me know if this works on your end

[2020-06-11 04:00] #152 closed

[2020-06-11 04:05] mmacedom commented on #147
@lucastbelem Fixed. Please let me know if works for you.

[2020-06-11 04:06] #147 closed

[2020-06-11 12:39] lucastbelem opened #182 "Map: On profile view Styling"
Currently, the map shows up in my profile, but when I click "change location" the map popup isn't fully visible as per the screenshot here:
<img width="1440" alt="Screen Shot 2020-06-11 at 8 39 37 AM" src="https://user-images.githubusercontent.com/48295718/84386325-20771600-abbf-11ea-896e-6adf29f86b05.png">

[2020-06-11 13:49] lucastbelem commented on #178
@mmacedom I don't blame you...it's our flow with the least amount of detail. Let me do some thinking on this and get back to you.

[2020-06-11 18:49] #175 closed

[2020-06-11 20:46] lucastbelem opened #183 "Resources: Removal of third navigation"
I got confirmation from the Jesus Collective team that we can make the following changes to Resources:

- [x] Merge 'About' and 'Episodes' pages in Resources to become the 'Series' page
- [ ] Add 'Reviews' at the secondary navigation level and copy reviews from the existing curriculum website here
- [ ] 'About' section should still exist at the series page level, but reviews should be removed and

[2020-06-11 21:16] JonEsparaz commented on #154
@GeorgeBellTMH I'll implement this as we discussed in the meeting - no need for messing around with the API key.

[2020-06-11 22:06] JonEsparaz commented on #174
Here's some ideas. Some combination of these will probably work. I just pulled these from Material Design, so if they're not exactly what we want we can design the icons in Figma or find something better. @mmacedom is there a particular combination of icons you think works well?

<table style="width:100%">
  <tr>
    <th>Event</th>
    <th>Individual</th>
    <th>Organization</th>
  </tr>
  <tr>

[2020-06-11 22:22] JonEsparaz commented on #174
The other option we discussed is having three colours...

Ex:
<table style="width:100%">
  <tr>
    <td>Yellow</td>
    <td>Events</td>
  </tr>
  <tr>
    <td>Red</td>
    <td>Individuals</td>
  </tr>

  <tr>
    <td>Blue</td>
    <td>Organizations</td>
  </tr>
</table>

...then having two icons: one for Friends and one for Partners.

[2020-06-11 22:49] GeorgeBellTMH commented on #174
<img width="201" alt="image" src="https://user-images.githubusercontent.com/47749730/84446481-95743b00-ac13-11ea-89af-07aac436b470.png">

<img width="231" alt="image" src="https://user-images.githubusercontent.com/47749730/84446740-34993280-ac14-11ea-887b-714c00195f2f.png">

Could maybe use either of the above for friends and partners...

[2020-06-12 02:15] mmacedom commented on #174
@GeorgeBellTMH @JonEsparaz I would suggest using iconography that is as familiar as possible for users. In other words, all options presented above in the context of events, individuals and organizations should work except for the star. I don't think it properly represents any of the categories.

In terms of what icons, I would suggest using the bottom calendar (with three lines) as it seems to mo

[2020-06-12 02:45] mmacedom commented on #153
@GeorgeBellTMH I just checked the positioning of the components on Safari mobile with the dev tools and everything is where they are supposed to be, i.e Conversations is at the very [bottom
<img width="951" alt="Screen Shot 2020-06-11 at 10 45 13 PM" src="https://user-images.githubusercontent.com/24467324/84459377-4ccd7980-ac35-11ea-8e0d-fd9a90372797.png">

[2020-06-12 03:50] mmacedom opened #186 "MyProfile - Error Validation and Save/Logout button Positon"
@GeorgeBellTMH I have fixed the positioning of the buttons and error validation on all three medium

[2020-06-12 04:23] JonEsparaz commented on #174
Agreed on the calendar. For individuals/organizations, I think it might be difficult to tell the difference between the single person icon and two people icon at a glance.

How about?

<img src=https://user-images.githubusercontent.com/48423418/84464559-d59ee200-ac42-11ea-9569-7d92602858e2.png width=50%>

[2020-06-12 07:01] JonEsparaz commented on #182
This won't be an issue after #187

[2020-06-12 07:01] #182 closed

[2020-06-12 14:19] mmacedom commented on #174
@JonEsparaz I think these are great. The only caveat here, I believe, is the fact that the middle icon (location pin) doesn't quite visually represent what we may think of an organization and it can be confusing to associate it to that word.

Normally, we would associate the location pin with just location.

Thoughts?

[2020-06-12 14:21] mmacedom commented on #174
@JonEsparaz Another minor note is the fact that the stroke width of the icons should be consistent, i.e the thickness of the calendar lines should be the same for the individual icon.
If we have to, I can design them.

[2020-06-12 16:39] lucastbelem commented on #174
I think it'd be cool if we could get something custom (i.e. your design
Mateus) based on brand guidelines - something that really is "us".

On Fri, Jun 12, 2020 at 10:21 AM mmacedom <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

[2020-06-12 19:31] #160 closed

[2020-06-12 19:32] #154 closed

[2020-06-12 19:33] #172 closed

[2020-06-12 19:56] JonEsparaz commented on #57
This is fixed by #187

[2020-06-12 19:56] #57 closed

[2020-06-15 18:54] lucastbelem opened #192 "Resources: Current Series changes"
Current series playlist should display the following for each video:

- Series title
- ~~Series sub-title~~ (does not exist)
- First 3 lines of description
- "Learn More" Button

[2020-06-15 19:00] lucastbelem opened #193 "Resources: "Learn More" Button page"
The "Learn More" button under the Current Series of the kids and youth resources page needs to take the user to a series page. The series page should be the Episodes page (design here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=171%3A5177) with the following added:

- Series description (as per design here: https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus

[2020-06-15 19:04] lucastbelem opened #194 "Resources: More series playlist"
This playlist should have the same fields and functions as "Current Series", but no description is needed. This is not a carousel. It should be displayed as a grid.

The design does not accommodate this, but we'll need to add a "load more" button to view more than a 8? series.

[2020-06-15 19:04] lucastbelem opened #195 "Resources: Schedule button"
This button can be removed. It doesn't do anything.

[2020-06-15 19:05] lucastbelem opened #196 "Resources: Overview page"
This page needs to be designed.

[2020-06-15 19:09] lucastbelem opened #197 "Resources: Preschool not loading"
Nothing is showing up for pre-school curriculum.

It should look the same as the other age groups, but instead of a video, it should be the series graphic (like the other age groups) with a learn more button that takes you in to the "episodes" page. For now, this episodes page can just have one "episode" displaying the same series graphic with a "downloads" button that allows me to download docume

[2020-06-15 22:30] JonEsparaz commented on #48
Not necessarily a priority, but adding this resurfaces the conversation of having an actual edit profile page/button. If people are going to their profile to see their events and groups, wouldn't they want an cleaner experience without all the text fields?

[2020-06-16 12:56] lucastbelem commented on #48
Yeah, this can be a v2 improvement, but I do think we should make their own profiles clearer without all of the text edit fields.

[2020-06-16 12:58] lucastbelem opened #199 "Messaging: Direct Messaging not functioning"
I can see direct messaging now, but there is no ability to send the message yet.

[2020-06-16 20:17] JonEsparaz opened #200 "Resources crashing"
@GeorgeBellTMH you probably figured this out already, but this line:

https://github.com/jesus-collective/mobile/blob/06fb25dca09996f1aaf12cb02572217cc554ca0d/components/ResourceViewer/ResourceOverview.tsx#L75

Should be `state.groupData.isSponsored == "true" ?`

[2020-06-16 20:35] JonEsparaz commented on #192
Do we intend to add descriptions manually (all descriptions are currently null)?

[2020-06-16 20:44] lucastbelem commented on #192
Yeah, episode descriptions don't currently exist, so we'll need to add them manually.

[2020-06-16 20:58] GeorgeBellTMH commented on #192
Yes. Lucas is going to add them over time.

Sent from my iPhone

On Jun 16, 2020, at 4:35 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

Do we intend to add descriptions manually (all descriptions are currently null)?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/jesus-collective/mobile/issues/192#issu

[2020-06-17 03:13] JonEsparaz commented on #194
Here's what I got so far:

![more series](https://user-images.githubusercontent.com/48423418/84850912-e9718c00-b026-11ea-8f27-1ca108a65271.JPG)

Still need to do the load more button (it just spits all series out right now).

[2020-06-17 03:15] JonEsparaz commented on #192
Pretty much done...

![current series](https://user-images.githubusercontent.com/48423418/84850994-32294500-b027-11ea-86ea-f1ea3de75d49.JPG)

[2020-06-17 05:33] JonEsparaz opened #203 "Resources: Content from previous page persists when clicking back"
Go to kids and youth. Click a resource, click the back button on the header. Some content (series title, description) may persist.

Edit: Additional info, if you toggle back and forth between one series and the main page by clicking on the series, then clicking back, you'll get multiple instances of the persisting content.

![image](https://user-images.githubusercontent.com/48423418/84859315-e2ed0

[2020-06-17 17:50] JonEsparaz opened #205 "Resources: explicit linking"
Right now if I click on a specific resource, the URL doesn’t change, which makes bookmarking a series in your browser impossible.

[2020-06-17 20:16] lucastbelem opened #206 "beta site not loading"
An interested thing happened today.

Zulema attempted to get on to beta.jesuscollective.com on Firefox on PC and it never loaded (it stayed as a blank page). Then she tried on Chrome and had no issues.

However, at the same time, Matt tried on Chrome and had the same issue she had on Firefox. He is also on a PC.

Both Chrome and Firefox are up to date for both of them.

[2020-06-17 20:26] lucastbelem commented on #183
Jon, I just added you here because you may be working on it...I'm not sure, but didn't want to miss it.

[2020-06-17 20:34] lucastbelem commented on #158
@mmacedom I had a good chat with the Jesus Collective team. They are happy with our idea to move the default to a smaller screen size so we can scale things to look more naturally like the mock ups. They understand this would effectively mean that we are deviating from the specs in the mock up. A few questions before we proceed:

- How do we decide what screen size to use?
- What does this look li

[2020-06-17 20:36] lucastbelem commented on #66
@GeorgeBellTMH @JonEsparaz A decision was confirmed today that Resources cannot be created by anyone except for the JC admin team.

[2020-06-17 21:29] lucastbelem opened #207 "Groups: Updates and additions"
There should be 3 category of groups: PUBLIC OPEN (already exists), PUBLIC CLOSED, and PRIVATE.

- Private groups are only accessible by the people who are invited to be a part of that group and are only visible to those who are part of the group and Jesus Collective admins.
- Public “Closed” Groups – Are visible to anyone, but you have to be invited by an admin to join, or you can ask to join and

[2020-06-17 21:33] lucastbelem opened #208 "Groups: Invite"
We need to create the ability for someone to invite someone else to join a group. This would be a button in the group that would trigger something like a "enter person's name" and the ability to send them an email invite to the group. This will come into play for all 3 group categories:

- Public, open (anyone can invite anyone to the group)
- Public, closed (only group admins can invite someone,

[2020-06-17 21:37] lucastbelem opened #209 "Events and Groups: upload attachments"
Is it possible to make it so as part of the message board, people can upload documents?

[2020-06-17 22:05] lucastbelem commented on #127
Some answers for you @JonEsparaz and @GeorgeBellTMH:

- Organizations can post as orgs, but we'd like the ability to have a human's name attached to it. I.e. Lucas Belem posting as The Meeting House.

- Multiple admins should be allowed, but there should be an owner-admin who has access to billing and maybe some other special features.

- Orgs cannot publish their own resources. Resources must be

[2020-06-17 22:06] JonEsparaz commented on #203
This was the result of non-unique keys on `<EditableText/>` components.

[2020-06-17 22:06] #203 closed

[2020-06-17 22:35] lucastbelem opened #210 "Resources: Breadcrumbs"
Matt raised the possible design issue of a user who may be on The Meeting House kids and youth curriculum Resource page who may need to get back to overall Resources.

A proposed solution would be to create a breadcrumb on the Resource page. For example, if I'm looking at TMH curriculum, there should be something on the design that allows me to see the following: Resources - Kids and Youth Curricu

[2020-06-17 22:41] lucastbelem opened #211 "Resources: Unvetted library"
As discussed previously, only Jesus Collective can create Resources and allocate them to the appropriate org. However, there is now discussion of allowing a type of Resource to be created by anyone within the platform.

The idea for this would be that users could share resources in events and groups through the message board which could be automatically catalogued into a library of resources. Howe

[2020-06-17 22:57] lucastbelem opened #212 "Resources: Sequencing, Scope and chronology"
We need to make sequencing and scope available on the platform. Also, users need to be able to view their curriculum chronologically (through the sequencing and scope). This is because curriculum is designed to follow the bible in a year.

[2020-06-17 23:00] lucastbelem commented on #194
Looking great!!

We also need to add a playlist for "Upcoming series". I don't know what this will look like yet (i.e. videos themselves, trailers, graphic placeholder with description?).

[2020-06-17 23:14] lucastbelem commented on #51
@GeorgeBellTMH is this done?

Also, I got confirmation today that past events can actually disappear from dashboards, EXCEPT when a resource was added to that event by means of a message board upload.

[2020-06-17 23:45] JonEsparaz commented on #209
Yes, but it would be a semi-custom solution.

For design we can probably have a pill with an icon and the first ~10 characters of the file name below the message.

[2020-06-17 23:47] JonEsparaz opened #213 "Resources: Upcoming series"
Per https://github.com/jesus-collective/mobile/issues/194#issuecomment-645669695

[2020-06-18 05:40] JonEsparaz commented on #206
I saw a couple auth-related errors in Sentry that match the time and OS/browser... Could be the cause, but can’t be 100% sure.

[2020-06-18 21:34] JonEsparaz commented on #183
Ideally, I'll have Organizations up and running soon, and we can make the resource publisher/owner TMH (as an Org instead of static data).

[2020-06-20 01:14] #171 closed

[2020-06-20 05:12] JonEsparaz commented on #211
A couple challenges/questions for this:
- Will there be a special UI within events/groups for adding resources? Or do resources just get added as links in the message board?
- How would we aggregate the "community resources" from several groups/events?

I'm not sure if this is what Jesus Collective is going for, but the easiest way to achieve this is just have a _single_ group (perhaps owned by JC

[2020-06-20 05:25] JonEsparaz commented on #210
We might be able to change the back button in the header image to say "Back to Teaching" for example, but if there's a lot of text (ex "Back to Kids and Youth Teaching") things would start looking clunky, especially on mobile.

A web-specific solution would be solving our URL issues (#36, #205). Declarative URLs are breadcrumbs.

[2020-06-20 05:28] GeorgeBellTMH commented on #211
I'm a bit confused why you wouldn't want to use Create Resource....since that's what you want to do...how do you create a resource without creating it?

We already have a way to define resources as sponsored or not....so I also don't understand why we would need another way to do this...an un-sponsored resource is clearly not sponsored...

Resource's once created can be linked from the message boa

[2020-06-20 05:32] GeorgeBellTMH commented on #210
If you click on the resources link in the header you go back to all resources....I don't think we need another way to get back there - since it's always universally available...I assume when we have multiple categories of resources it will become a dropdown and "Teaching" will also become a universal navigation option...

[2020-06-20 05:41] GeorgeBellTMH commented on #209
Or a custom description might be a better way to go...will need to figure out which filetypes we are going to support, and if we want to scan them for virus's....

[2020-06-20 05:43] GeorgeBellTMH commented on #51
Not sure what that means....resources can't be uploaded...do you mean file attachments?

[2020-06-20 05:51] GeorgeBellTMH commented on #194
Can we clarify what we mean by upcoming vs current series....

Currently:

A current series is the one that is happening right now...it is published the Monday before the series starts (at which point it is upcoming for 6 days and then becomes current), and is current until the last Sunday it is being used...during that time there is no upcoming series...

In effect all series are "current"...(exc

[2020-06-20 05:56] GeorgeBellTMH commented on #127
We've designed resources to be created by any user....or if eventually orgs want to do it they can as well...for now we will lock it down to only JC admins...

[2020-06-20 06:00] GeorgeBellTMH commented on #158
It is my belief that we should design based on how much information we want on the screen...if we want four groups then we scale it to that size...if we want 5 then we scale to that size and fonts get smaller, or we lose some other information...

[2020-06-22 01:09] JonEsparaz opened #215 "Groups: memberCount does not update"
memberCount should update when an individual leaves or joins a group, but the current auth rules don't allow this.

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713132214)

[2020-06-23 07:03] #192 closed

[2020-06-23 07:03] #193 closed

[2020-06-23 07:03] #194 closed

[2020-06-23 07:03] #195 closed

[2020-06-23 07:03] #200 closed

[2020-06-23 07:08] #120 closed

[2020-06-23 07:14] GeorgeBellTMH commented on #206
Closing this, doesn't seem to have reoccurred....

[2020-06-23 07:14] #206 closed

[2020-06-23 07:16] GeorgeBellTMH commented on #205
Need to add routes in homepage/index.tsx similar to how groups is setup, but with more properties.

[2020-06-23 07:19] #186 closed

[2020-06-23 07:20] GeorgeBellTMH commented on #205
Duplicate of #132

[2020-06-23 07:20] #205 closed

[2020-06-23 07:23] #173 closed

[2020-06-23 07:33] GeorgeBellTMH opened #219 "Leadership Development Tasks"
- [x] Make visible on homepage if in LD group
- [x] Ability to create new LD Group
- [ ] Ability to join/leave LD group
- [ ] JSON Data
- [ ] Import JSON Data
- [ ] Create API
- [ ] Overview Page

[2020-06-23 12:43] lucastbelem commented on #194
@GeorgeBellTMH I know this is closed, but I thought I'd connect about it just in case.

You're right...the terminology is confusing and we'll need to think about something better. Dates is ideal. I've had a conversation with our curriculum team and they expressed the importance of noting dates because the curriculum is designed in a yearly cycle that goes through the whole bible.

[2020-06-23 17:30] lucastbelem commented on #51
@GeorgeBellTMH sorry for the lack of clarity - yes, file attachments.

[2020-06-24 03:35] GeorgeBellTMH commented on #196
EditableRichText component works, and should be usable to give an editable text field on this page...

[2020-06-24 18:44] lucastbelem opened #221 "Resources: Preschool images"
The preschool series images aren't loading. Is there something we need to do?

[2020-06-24 20:20] lucastbelem commented on #158
@GeorgeBellTMH, do you say this regardless of screen sizes? As in, it should scale as small or large as it needs to in order to always show the 3 containers we want at any given time?

That would be ideal, but my understanding was that this isn't really possible. If it's possible to accomplish it this way, that would be ideal.

[2020-06-25 14:59] lucastbelem commented on #158
Reading your comments further @GeorgeBellTMH, I realized that we're actually talking about the same thing. The goal here is for the content to be dynamic and scale to the screen that's being used, based on the design we have (i.e. 3 containers wide, etc). Everything within that can go down, like font size, etc).

What would we need to decide/determine for this to become a reality @mmacedom?

[2020-06-25 17:16] JonEsparaz commented on #221
It's trying to pull a YouTube thumbnail (which doesn't exist), so we need to update some of the code.

I don't know where the actual images are though - not sure if we need to import them @GeorgeBellTMH?

[2020-06-25 17:17] GeorgeBellTMH commented on #221
All of our thumbnails come directly from youtube.

If there isn’t one, it’s likely when it was imported it was still processing on youtube or something…repulling the data should get the updated thumbnail (unless there is some reason on youtube it wouldn’t have a thumbnail, but I’ve never seen that).

From: Jon Esparaz <notifications@github.com>
Reply-To: jesus-collective/mobile <reply@reply.github

[2020-06-25 17:27] JonEsparaz commented on #221
Pre-school resources don't have videos though. I believe these are the graphics (which aren't YT thumbnails):

![image](https://user-images.githubusercontent.com/48423418/85769035-9f07a380-b6e7-11ea-9a12-b10f6a48df98.png)

[2020-06-25 17:33] GeorgeBellTMH commented on #221
Ahh…sorry I thought you were talking TMH…yes…for JC…

The data all came from ResourceScreen/kidsandyouth.json which is an export from the wordpress site…the image url’s should be in there…you can check ImportKidsandYouth.tsx to see if the imported mapped the image field from wordpress to dynamo…you may need to write a quick “re-importer” to just import that value for the pre-school stuff if it’s n

[2020-06-25 17:35] JonEsparaz commented on #221
Will do. Thanks George!

[2020-06-25 22:15] JonEsparaz opened #222 "Add accessibility props on images and touchable components"
We should be adding accessibility properties to a ton of components (basically everywhere). My suggestion is we add the accessibility props in one shot after V2 is complete, but before the public launch in the fall.

@lucastbelem let us know if you think we need to expedite the timeline on this.

[2020-06-26 21:05] lucastbelem opened #224 "Cannot create profiles on Beta"
Hey team,

Katie and Matt report that when they go to beta.jesuscollective.com, all they see is a white screen (i.e. nothing loads). I've come across this issue myself, but then it goes away after a while. I wonder if it's at all connected with logging in. Can you please take a look at this?

Matt and Katie are both on PC and tried accessing via Chrome.

[2020-06-26 23:15] JonEsparaz commented on #224
@lucastbelem when you say goes away after a while, do you mean after refreshing or does the app eventually launch by itself?

Also, do you know if they were logged in or not?

[2020-06-26 23:31] JonEsparaz commented on #224
@lucastbelem I’ll also add that a blank screen is normal while the app is loading and if the user’s network connect is poor, the loading screen could be there for a bit.

If the blank screen never goes away, then there might be an issue on our end.

[2020-06-27 01:38] mmacedom commented on #158
@lucastbelem @GeorgeBellTMH I think a good way to approach this would be to first determine what pieces of content are essential and the smallest font size we want to work with on the components we want to modify.

Once determined, we can start to tweak the containers to see if they conform to what we are looking for (3 containers on desktop), if not, we need to regroup and determine if we need re

[2020-06-28 22:22] #196 closed

[2020-06-28 22:22] #221 closed

[2020-06-29 13:55] lucastbelem commented on #224
Hey Jon!

They aren't logged in. Katie and Matt haven't been able to create a profile
at all yet. So when they go to beta, it takes them to their profile screen
where they need to submit their profile to get on to the dashboard for the
first time. However, when they try to submit their profile, they're getting
that blank screen, and it doesn't load after a while.

This happened for me a while ago,

[2020-06-30 12:15] lucastbelem commented on #224
@JonEsparaz @GeorgeBellTMH can you guys please prioritize this? Neither Katie, Zulema, or matt are able to get in. The blank screen is right away when they go to beta and it never loads.

Issues with all of them is on PC, 2 on Chrome and 1 on Firefox.
They are advertising a group to start on July 13 so people will need to get on and create profiles in the next week, and Matt needs to get in there

[2020-06-30 12:17] lucastbelem opened #229 "Leadership formation styling"
@mmacedom good news! It looks like some leadership formation stuff is up on beta :) Can you take a look to see what you can do for styling?

[2020-06-30 12:21] lucastbelem commented on #66
@GeorgeBellTMH could you please give me the ability to make changes to kids and youth curriculum? I need to update info on the page (i.e. titles, descriptions, etc.)

[2020-06-30 15:47] GeorgeBellTMH commented on #224
I believe I have a fix, but I need to do a lot of testing, so this will probably come out later tonight.

Sent from my iPhone

On Jun 30, 2020, at 8:15 AM, lucastbelem <notifications@github.com> wrote:

﻿

@JonEsparaz<https://github.com/JonEsparaz> @GeorgeBellTMH<https://github.com/GeorgeBellTMH> can you guys please prioritize this? Neither Katie, Zulema, or matt are able to get in. The blank scre

[2020-06-30 17:48] lucastbelem commented on #224
Thanks!!

On Tue, Jun 30, 2020 at 11:47 AM George Bell <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Manager
*Out of Office Alert: July 1 to July 6*

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and

[2020-07-01 02:34] mmacedom commented on #134
@GeorgeBellTMH I have implemented the fade in on page load. I am now sorting out a fade in on the sub nav click within the resources screen

[2020-07-01 02:37] mmacedom commented on #229
@lucastbelem Yes, I will take a look and work on it.

[2020-07-02 03:58] GeorgeBellTMH opened #230 "Grey bar on profile creation screen"
<img width="1408" alt="Screen Shot 2020-07-01 at 11 56 32 PM" src="https://user-images.githubusercontent.com/47749730/86314829-a69edf00-bbf6-11ea-9793-10d20b3d2766.png">

Grey bar when creating a user...

[2020-07-02 04:01] GeorgeBellTMH opened #231 "Alignment issues on profile creation"
<img width="315" alt="Screen Shot 2020-07-01 at 11 59 00 PM" src="https://user-images.githubusercontent.com/47749730/86314919-dfd74f00-bbf6-11ea-8abd-053466a490fb.png">

Alignment issues on profile creation...
- [x] Upload Profile Picture (if we want it shorter, it could be Set Profile Photo)
- [x] Short sentance about me should likely show two full lines
- [x] Org name not defined should probably

[2020-07-02 04:05] GeorgeBellTMH opened #232 "Issues with Header in profile creation"
<img width="1400" alt="Screen Shot 2020-07-02 at 12 02 17 AM" src="https://user-images.githubusercontent.com/47749730/86315132-583e1000-bbf7-11ea-8e42-ac4e6a8dcbb8.png">

- [x] Lets put the error text on a new line so we don't have problems with smaller screens
- [x] Lets shorten the Save and Publish Your Profile - maybe something like Save Profile
- [x] There is a new delete Profile button when c

[2020-07-02 04:09] GeorgeBellTMH commented on #232
Note these are all because of the red bar on the left...so I think it makes sense to design it so it works with the red bar first, then see what it looks without the red bar.

[2020-07-02 04:13] GeorgeBellTMH opened #233 "Org dropdowns- placeholder item"
On the profile page - use a placeholder item in the dropdown so it's obvious they need to change the value when creating for the first time.

[2020-07-02 07:30] GeorgeBellTMH commented on #224
Fixed...

[2020-07-02 07:30] #224 closed

[2020-07-02 07:33] #197 closed

[2020-07-03 00:13] mmacedom commented on #230
@GeorgeBellTMH I just signed up with a different email and I cannot get into the screen above. As soon as I entered my email, password, first and last name, I got an email confirmation with a confirmation code...I entered the confirmation code on the "confirmation code" field and it gave me an error saying that I cannot be confirmed because I was already confirmed. Then, it brought me back to the

[2020-07-03 00:59] mmacedom commented on #230
@GeorgeBellTMH How can I get to this screen on my local? I have tried a number of time and can only get to it on the live beta.

[2020-07-03 20:27] #233 closed

[2020-07-05 04:26] mmacedom commented on #231
@GeorgeBellTMH These issues have been resolved with the new latest PR. Please let me know if you see any discrepancy on your end. Thx

[2020-07-05 04:51] JonEsparaz opened #237 "DMs: Identify who posted a message"
There's currently no way to identify who sent a direct message between the two users. This data is required to display name, role and profile image on messages.

Requires a schema update.

[2020-07-05 04:59] JonEsparaz commented on #125
@lucastbelem just want to bump this. For future use, is there a Google Drive folder with all the Jesus Collective logos we can get access to?

[2020-07-05 06:00] #60 closed

[2020-07-05 06:00] #85 closed

[2020-07-05 06:00] #199 closed

[2020-07-05 06:02] GeorgeBellTMH opened #240 "DMs: Multiple people in DM"
- [ ] interface to add people to existing DM
- [ ] interface to remove people from existing DM
- [ ] interface to create new DM with a list of people
- [ ] interface to see list of people in DM Room
- [ ] ability to set a friendly name for a DM Room

[2020-07-05 06:06] GeorgeBellTMH opened #241 "DMs: Alerts"
- [ ] in-App alerts for new DMs via subscriptions (should popup in the menu), and groups (should show badge on group)
- [x] out-of-App alerts via Email/Pinpoint for DMs when logged off (likely need to create a lambda trigger for the DM table, and figure out if the user is currently logged in via Cognito...)
- [x] setup pinpoint email limits so we don't spam users (make it configurable via profile)

[2020-07-05 06:17] #231 closed

[2020-07-05 06:22] GeorgeBellTMH opened #242 "DMs: Secure messages"
Figure out a way to make sure the API doesn't return messages you shouldn't be able to read (ie that are not part of a room you are not in). May need to make a custom VTL for this.

[2020-07-05 06:41] GeorgeBellTMH opened #243 "DM issues in safari"
- [x] Can't change between rooms
- [x] Messageboard doesn't show up
- [x] Creating new rooms is slow

<img width="1384" alt="image" src="https://user-images.githubusercontent.com/47749730/86527034-e240df80-be68-11ea-96f3-cd10630cc9ac.png">

[2020-07-05 07:01] GeorgeBellTMH opened #244 "Admin group should be able to do a bunch of things"
If you are in the admin group, you should be able to:

* [ ] Delete groups, events, resources, orgs that aren't yours (should warn it's not yours to delete)
* [ ] Update groups, events, resources and orgs that aren't yours (should warn it's not yours to update)
* [ ] Delete, or disable users
* [ ] Delete messages in groups/events (discuss how we want to handle this)

┆Issue is synchronized with th

[2020-07-05 07:03] GeorgeBellTMH opened #245 "Users who should delete themselves should be redirected to an exit interview formstack"
We want to know why they are leaving...Lucas can you create a formstack with some questions about why they are leaving?

Is it because of bugs? Is it because they left organization? Is it because they don't like us?

[2020-07-05 07:10] GeorgeBellTMH opened #246 "We need an autocompleting Group, User or Org textbox"
We need an EditableGroupList, EditableUserList, EditableOrgList textbox...

When isEditable=false it should have a list of the groups, users or orgs (optionally they should be clickable)
When isEditable=true it should be a textbox that autocompletes the name, and then turns into a tag with an x
It should have an allowUpToX prop, where if X=1 then only one user/group/org can be added
It should like

[2020-07-05 09:20] GeorgeBellTMH opened #247 "Check all clean functions to ensure we can still save after adding organizations"
clean functions need to add delete xxxx where xxxx is any arrays added by org schema changes...

[2020-07-05 16:06] JonEsparaz opened #248 "App not loading"
On the beta site, upon login, the URL goes to https://beta.jesuscollective.com/unknown and nothing loads.

On localhost, upon login, I get the following error:

![image](https://user-images.githubusercontent.com/48423418/86536728-e21c0080-beb7-11ea-8601-4ba9a35fec1f.png)

[2020-07-05 17:16] GeorgeBellTMH commented on #248
This is fixed...

[2020-07-05 17:16] #248 closed

[2020-07-05 17:17] GeorgeBellTMH opened #249 "Create default values for all required fields in Orgs and disabled parts of the schema"
Need to create an AWS script to update the dynamodb before we enable Orgs.

[2020-07-05 17:19] GeorgeBellTMH opened #250 ""There are no upcoming events" when events are empty"
It looks like the events aren't loading, when there are just no upcoming events.

[2020-07-05 21:11] GeorgeBellTMH commented on #241
Initial Dynamo Function is created, there is an issue with Amplify where you can't permit it to access Pinpoint/Cognito/DynamoDB...will need to wait until issue is resolved.

[2020-07-05 21:12] GeorgeBellTMH commented on #142
Lambda infrastructure is created (jcUpdateMainUserGroup), runs once a day, needs to be coded still

[2020-07-05 21:42] JonEsparaz commented on #243
I'm having trouble recreating the first two issues (everything works on Safari). It's possible that the messages were created before we added the `author` field, so the message board is erroring out. I've added some error checking for this in #251.

I'm working on the slow creation issue on Safari...

[2020-07-06 04:10] #237 closed

[2020-07-06 04:16] #243 closed

[2020-07-06 04:17] GeorgeBellTMH opened #253 "Multiple DMs to same person"
<img width="1284" alt="image" src="https://user-images.githubusercontent.com/47749730/86555329-0ca0a480-bf1e-11ea-82db-d922cf2af8ad.png">

I went in by clicking on start conversation with Jon, then left and clicked on start conversation with Lucas...but there is now two conversations with Jon....

[2020-07-06 04:19] GeorgeBellTMH commented on #253
<img width="1257" alt="image" src="https://user-images.githubusercontent.com/47749730/86555424-4a9dc880-bf1e-11ea-97b2-438f56475590.png">
When going via the profile, there is now only one conversation with Jon

[2020-07-06 04:20] GeorgeBellTMH commented on #253
<img width="1282" alt="image" src="https://user-images.githubusercontent.com/47749730/86555487-7e78ee00-bf1e-11ea-918e-de9574b1fdf8.png">
Clicking on start conversation with Chris and this happened...

[2020-07-06 04:22] GeorgeBellTMH opened #254 "Homepage performance"
Homepage loads slowly...need to optimize queries and determine if there are any that are blocking it from rendering.

[2020-07-06 04:25] GeorgeBellTMH opened #255 "Profile style issues"
<img width="1289" alt="image" src="https://user-images.githubusercontent.com/47749730/86555672-05c66180-bf1f-11ea-9e24-cc0fa44c69c7.png">

- [x] Remove extra room around Children's ministry
- [x] Current Role->Digital Solutions is cutoff

[2020-07-06 04:26] GeorgeBellTMH commented on #35
Closing, it now works...barely...

[2020-07-06 04:26] #35 closed

[2020-07-06 04:28] #51 closed

[2020-07-06 04:31] GeorgeBellTMH commented on #156
This is correct, closing.

[2020-07-06 04:31] #156 closed

[2020-07-07 01:40] mmacedom commented on #232
@GeorgeBellTMH I have adjusted the top elements based on the screen with the red bar as requested. On Ipad, I stacked all three elements and shifted them to be justified left so they all fit. (Setup your Profile, top buttons, and error validation). Let me know if everything is good on this one

[2020-07-07 01:42] mmacedom commented on #230
@GeorgeBellTMH I'm still trying to find this needle in the haystack.

[2020-07-07 01:44] mmacedom commented on #255
@GeorgeBellTMH the PR I opened last night should've addressed the extra room issue around key interests. Let me know if you are still seeing it on your end.

[2020-07-07 01:50] #255 closed

[2020-07-07 01:50] #232 closed

[2020-07-07 01:52] JonEsparaz commented on #253
I figure out what the bug is... Just need to patch

[2020-07-07 01:54] JonEsparaz opened #257 "DMs: Name of chat when viewed by other user"
By example:
- George creates chat with Jon.
- Chat room is named Jon Esparaz (appears correct to George).
- Jon opens chat with George.
- Chat room is still named Jon Esparaz (appears incorrect to Jon).

[2020-07-07 06:27] GeorgeBellTMH commented on #257
Probably should be un-set unless the user sets it...and if it's not set it just shows the list of users (minus the user who is viewing it)

[2020-07-07 06:28] GeorgeBellTMH opened #259 "DMs: handle lots of messages in the interface..."
Figure out a way to infinite scroll, and not have the interface break.

[2020-07-07 09:27] GeorgeBellTMH commented on #246
@JonEsparaz this is roughed in for users and I put it on the conversation screen temporarily (will hide it when I publish), probably needs a button to create a room...there are some things I still need to do:

- [ ] I enabled @searchable on User model, but we need to push content from dynamodb to elastic search...(only new users will show up for now)
- [ ] fill in the fetchSuggestions to use queri

[2020-07-07 19:27] JonEsparaz commented on #249
@GeorgeBellTMH could you provide a bit more detail? I'm not 100% sure what I need to do here.

[2020-07-07 19:54] GeorgeBellTMH commented on #249
So I think we need a .sh script that uses aws-cli - something like:

insertDefaultFieldtoDB.sh [tableName] [columnName] [defaultValue]

Then it just interates through all items in tableName and updates the field with columnName=defaultValue if columnName==null.

[2020-07-07 20:26] lucastbelem commented on #209
Can we add this to the priority list? This may be a silly question, but different is it in terms of functionality to duplicate the "upload your profile picture" functionality?

Can we get at least PDFs done soon?
I'm not too worried about virus at this point because users have already been vetted personally. We'll need it, but maybe not until Friendships are a thing.

[2020-07-07 20:32] lucastbelem opened #262 "Map: Default view"
Can we default the map to OPEN?

[2020-07-07 20:34] lucastbelem opened #263 "Profile: Mandatory fields issue"
When creating a new profile, mandatory fields are not all marked properly and so it creates submission issues for profiles.

[2020-07-07 20:38] lucastbelem opened #264 "Event creation isn't working"
I filled all of the fields, got no errors and no change to the event. When I refreshed, the event didn't appear either.

[2020-07-07 20:40] lucastbelem opened #265 "Show all groups bug"
When I’m looking at all groups and scroll to the bottom of the page, the ones on the bottom row are cut off and I can’t see a join/leave/owner button.

<img width="1440" alt="Screen Shot 2020-07-07 at 4 40 22 PM" src="https://user-images.githubusercontent.com/48295718/86840319-9496c380-c070-11ea-94e9-429c362117aa.png">

[2020-07-07 20:43] lucastbelem opened #266 "Account Settings: Change password"
Can we give the user the ability to change their password right from within their profile edit view?

[2020-07-07 21:05] GeorgeBellTMH commented on #264
Fixed in next version

[2020-07-07 21:05] #264 closed

[2020-07-07 21:38] JonEsparaz commented on #263
@lucastbelem you mean we need to add the red asterisk in a few places, right?

[2020-07-07 21:54] #253 closed

[2020-07-07 21:58] GeorgeBellTMH commented on #266
Yes, this should be possible...

[2020-07-07 21:59] #259 closed

[2020-07-07 21:59] #262 closed

[2020-07-07 22:01] GeorgeBellTMH commented on #262
@lucastbelem Curious if we want any nuance to this, it is now always open by default on login....mobile and desktop. No preference is given to the user.

[2020-07-07 22:31] JonEsparaz opened #269 "Resources: Re-Add Titles to "More Series""
Just putting this here for myself.

Titles need to be re-added, limit to two lines, fixed card height.

[2020-07-07 22:34] JonEsparaz opened #270 "Resources: Editable URLs, ability to reorder content"

[2020-07-07 22:35] JonEsparaz opened #271 "Resources: Dropdown menu UX"
We discussed adding a divider and renaming the menu items.

@lucastbelem could you remind me exactly what we want to do here?

[2020-07-07 23:39] #257 closed

[2020-07-07 23:39] JonEsparaz commented on #266
https://docs.amplify.aws/lib/auth/manageusers/q/platform/js#change-password

I think it makes the most sense to first implement the Edit view, then put this change password stuff within the Edit view.

[2020-07-07 23:45] JonEsparaz opened #273 "Profiles: Edit View"
When you go to your own profile, it should look mostly like any other user's profile, but when you click the Edit button on the panel, the page changes to allow edits.

@GeorgeBellTMH I assume the Logout button should always be present on your own profile, but the Save Profile and Delete buttons should only be there after clicking Edit, right?

[2020-07-07 23:48] GeorgeBellTMH commented on #271
Rename overview -> All Resources
Add a divider between that and Kids&Youth

[2020-07-07 23:49] GeorgeBellTMH commented on #273
Yup, sounds correct...some things should likely appear and disappear as well (ie. My Groups should not be visible in edit mode)...

[2020-07-07 23:51] GeorgeBellTMH commented on #254
I've changed some queries to use less data...still performance issues...

[2020-07-08 00:07] GeorgeBellTMH commented on #250
Added text for loading and no upcoming events/groups etc. @mmacedom to style

[2020-07-08 03:01] mmacedom commented on #265
@lucastbelem I have adjusted the height on a new PR.

[2020-07-08 03:04] #265 closed

[2020-07-08 03:13] JonEsparaz opened #277 "DMs: Performance improvements"
Creating a new message room is painfully slow. This was mentioned in #243 (which was closed).

[2020-07-08 05:37] JonEsparaz opened #280 "Map: Space out users"
Since users type in their location now, multiple users end up at the _exact_ same location.

For example, there are 3-4 users in Toronto right now, but it only appears like there is one and I can't interact with the other users on the map.

Best solution is probably to shift users with a duplicate location out some by a some random `(lat, lng)` within a bounding box. We can either do this when the

[2020-07-08 06:13] GeorgeBellTMH commented on #246
@mmacedom you can style this now, it's on the DM screen...

[2020-07-08 06:14] #271 closed

[2020-07-08 06:21] #273 closed

[2020-07-08 08:34] GeorgeBellTMH opened #282 "Mobile Drawer is gone"
Navigation updates killed the drawer, need to create a drawer navigator.

[2020-07-08 08:51] GeorgeBellTMH opened #283 "dashboardRightCard"
Media Query for dashboardRightCard is @media (min-width: 320px) and (max-width: 480px)

When you set to 481px, there is some problems with the "People you may connect with" overlapping other groups...media query likely needs to go bigger until there is two columns again...(720px)

[2020-07-08 13:22] lucastbelem commented on #263
Yeah. Remember that doc I shared with you that had all of profile fields for different profile types? That doc should say which fields are required and which aren't.

[2020-07-08 19:54] lucastbelem opened #284 "Event title view"
@mmacedom is there anything we can do about this?
<img width="385" alt="Screen Shot 2020-07-08 at 3 52 40 PM" src="https://user-images.githubusercontent.com/48295718/86963837-2109ba80-c133-11ea-93b0-fcca2581dbce.png">

The full title should include the word "reconciliation" as you should be able to see by clicking on this event. If there isn't much we can do here (which is fine) can you give me an

[2020-07-08 20:11] lucastbelem opened #285 "Changes to interest dropdown"
Can we make a couple of quick changes to the interests dropdown in profiles:
<img width="874" alt="Screen Shot 2020-07-08 at 4 09 09 PM" src="https://user-images.githubusercontent.com/48295718/86965382-747d0800-c135-11ea-8958-e6addfefacde.png">

- [x] Post Christian Pastoring is spelled wrong
- [x] Remove "Share the Gospel"
- [x] Remove "Leadership Development" (it's the same as Leadership Formati

[2020-07-08 20:13] JonEsparaz commented on #285
While I'm at it, would it be good to have these in alphabetical order?

[2020-07-08 20:28] lucastbelem commented on #285
You know it!

On Wed, Jul 8, 2020 at 4:13 PM Jon Esparaz <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and may contain confidential information.

[2020-07-08 20:29] JonEsparaz commented on #209
You're correct @lucastbelem, we can reuse some of the profile image code. I will work on the frontend and limit uploads to PDFs for now.

I'm also not super concerned about malicious users, but the actual concern is someone unknowingly uploading an infected file... Virus scanning could be a lot of work though (I'm not sure).

@GeorgeBellTMH should we make a new bucket and/or how should I organize

[2020-07-08 23:25] JonEsparaz opened #287 "Groups: Cannot read property 'location' of null"
This is preventing the Partner Super Hub from loading...

[2020-07-08 23:33] JonEsparaz opened #289 "Real typing (remove any types)"
Bugs like #287 have made me weary of bad typing. I'll chip away at this over the next few weeks.

[2020-07-09 00:31] mmacedom commented on #230
@JonEsparaz That's awesome that you found this background!

[2020-07-09 00:47] mmacedom commented on #284
@lucastbelem If we keep the title font size unchanged, one way to solve this is to increase the height of the title container to accomodate 3 lines, rather than 2, and reduce the height of the description box to only allow for 2 lines, rather than 3.

Another approach to this would be to reduce the title font size a bit to 22 px to fit slightly longer titles. If we do change the event title font s

[2020-07-09 01:04] mmacedom commented on #283
@GeorgeBellTMH I adjusted the mobile media query to (min-width: 320px) and (max-width: 720px). I checked for overlap on that component and it seems okay. Let me know if you are still seeing the issue.

One thing that I did notice is that the event cards are overlapping a little bit on mobile. A simple solution would be to change the width of the cards from 350 to 300px. Let me know if I should mak

[2020-07-09 01:43] #287 closed

[2020-07-09 01:46] #283 closed

[2020-07-09 01:47] GeorgeBellTMH commented on #284
Can you make it have a tooltip with the full title?

[2020-07-09 01:49] GeorgeBellTMH commented on #284
I'd be ok bringing the font size down a bit as well on both the description and title...

[2020-07-09 01:57] mmacedom commented on #250
@GeorgeBellTMH I added a temporary style to it. How can I visualize the error now that events, groups, resources are populated? Is there a way I can temporarily delete some of them to trigger the error?

[2020-07-09 01:59] GeorgeBellTMH commented on #250
You can change the code to just make it always call that branch...(just comment out the other branch...

[2020-07-09 02:02] mmacedom commented on #284
@GeorgeBellTMH yeah, I'll add the tooltip and will bump down the font sizes.

[2020-07-09 02:03] GeorgeBellTMH commented on #209
I think it goes into the same bucket that it did for images...but a different folder...

[2020-07-09 02:05] GeorgeBellTMH commented on #289
Yup...bad habits from my early days of coding in languages with no typing at all....

[2020-07-09 02:17] GeorgeBellTMH opened #294 "Way to filter resources/courses by isSponsored"
Switch to filter the "all" pages, and map to show just sponsored resources/courses etc.

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713133729)

[2020-07-09 02:32] mmacedom commented on #284
@GeorgeBellTMH @lucastbelem I bumped down the title font size from 24px to 22px and the description from 16px to 14px. The title still remains on two lines and the character limit is 54 (including spaces between words)

[2020-07-09 03:11] mmacedom commented on #250
@GeorgeBellTMH I just fixed it. I also added "upcoming" to "No upcoming events/groups/resources" and took the apostrophe out so it reads "No upcoming groups" rather than "No upcoming group's". The change is on a new PR

[2020-07-09 03:17] #250 closed

[2020-07-09 03:49] mmacedom commented on #284
@GeorgeBellTMH tooltip is still pending but it's on my to do list for tomorrow

[2020-07-09 04:20] mmacedom commented on #284
@GeorgeBellTMH Do you recommend any tooltip library to use?

[2020-07-09 13:31] lucastbelem commented on #284
Thanks guys. Just confirming then - you're applying this everywhere for
consistency?

On Thu, Jul 9, 2020 at 12:20 AM mmacedom <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole us

[2020-07-09 17:13] lucastbelem opened #296 "Login screen - extra text"
Can we remove the extra text "Please sign in/sign up" from below the fillable fields?
<img width="1046" alt="Screen Shot 2020-07-09 at 1 12 38 PM" src="https://user-images.githubusercontent.com/48295718/87069917-ff1d4000-c1e5-11ea-9788-98d027af7b15.png">

Thanks.

[2020-07-09 17:18] lucastbelem opened #297 "Church size on login creation"
Sorry for another one of these requests, but can you make changes to the dropdown options for church size? We need options going up to 10k. We should see the options available, then add:

250-500
500-1000
1000-2000
2000-3000
3000-4000
4000-5000
5000-7500
7500-10000

![IMG_2932](https://user-images.githubusercontent.com/48295718/87070237-7eab0f00-c1e6-11ea-8302-53a943907fa0.JPG)

[2020-07-09 17:45] mmacedom commented on #284
@lucastbelem that's correct. All components that are card like will have the same formatting. Makes sense?

[2020-07-09 17:55] lucastbelem commented on #284
Yep, thanks!

On Thu, Jul 9, 2020 at 1:45 PM mmacedom <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and may contain confidential information.  If

[2020-07-09 18:00] JonEsparaz commented on #297
Should there be a 10k+ or >10k option?

[2020-07-09 18:54] lucastbelem commented on #297
Good call. Over 10,000 would be great.

[2020-07-09 19:11] GeorgeBellTMH commented on #282
Fixed

[2020-07-09 19:11] #282 closed

[2020-07-09 19:12] GeorgeBellTMH opened #298 "People you may connect with: is verbose"
@lucastbelem can we change

People you may connect with:
to
Connect

This will reduce the amount of space taken up by the header in mobile.

[2020-07-09 19:13] GeorgeBellTMH opened #299 "People you may connect with: profile image size"
I think we can go to a smaller profile size when we get to smaller screen sizes...allows more room for text and buttons.

[2020-07-09 19:15] GeorgeBellTMH opened #300 "Remember map state"
Let's remember what the user has set the maps visibility to...

[2020-07-09 19:16] GeorgeBellTMH opened #301 "Map performance"
Map is usually the last thing to load in safari, lets see if we can speed it up, at least so that it is visible...it's ok if it takes a bit longer for the pins to load.

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713133871)

[2020-07-09 19:19] GeorgeBellTMH commented on #301
Potentially need to pre-load some more fonts...

[2020-07-09 19:22] lucastbelem commented on #298
@GeorgeBellTMH we definitely gotta do that. Can we just hold off a bit? Matt is about to send us a number of copy edits and I'm sure that will be one of them.

On that note, (this may be a separate issue) can we make that "People you may connect with" more clearly a clickable thing? Maybe an underline? Something that would make people know to click on it.

[2020-07-09 19:29] GeorgeBellTMH commented on #277
I think we can make a customMutation that merges more than one mutation into the same request. So createRoom(roomInfo, [users]) or something similar...

[2020-07-09 20:11] JonEsparaz opened #303 "Profile: Update required fields and org detail fields"
Per the Google sheet. Schema change already up in #302.

[2020-07-09 20:14] JonEsparaz commented on #277
That's what I was thinking. Also, I think there's also a bottle neck loading all the messages. A `@key` directive to get rooms by `userID` is likely more performant than using `filter: { userID: { eq: user['username'] } }`.

[2020-07-09 20:19] lucastbelem opened #304 "Profiles: Current Role disappears"
As per phone discussion:

Current Role field disappears from profile creation when user selects 7 or so interests.

[2020-07-09 20:19] JonEsparaz commented on #296
After trying a bunch of hacky solutions, this won't be possible until AWS Amplify updates the `<Authenticator/>` component. I bumped an issue in the amplify-js repo - hopefully they get around to it soon.

[2020-07-09 20:19] lucastbelem commented on #304
@GeorgeBellTMH can we publish this change today once Jon fixes it? Jon Hand wants to get a couple of Hub Leaders on the platform once this is solved.

[2020-07-09 20:19] lucastbelem commented on #303
@GeorgeBellTMH can we publish this change today once Jon fixes it? Jon Hand wants to get a couple of Hub Leaders on the platform once this is solved.

[2020-07-09 20:22] JonEsparaz commented on #304
@lucastbelem you know what browser Jon Hand was using?

[2020-07-09 20:34] lucastbelem commented on #304
@JonEsparaz safari.

[2020-07-09 20:35] lucastbelem commented on #108
Gotcha.

[2020-07-09 20:36] lucastbelem commented on #72
@GeorgeBellTMH is this done?

[2020-07-09 21:13] JonEsparaz commented on #303
@lucastbelem might be good to let Jon Hand know this won’t be ready within “normal” working hours today.

[2020-07-10 01:11] JonEsparaz commented on #303
@lucastbelem the fields "How many employees do you have?" and "How many people do you serve?" are worded in such a way that they are only appropriate for the profile owner. What should the labels be for someone viewing the profile?

[2020-07-10 01:15] JonEsparaz commented on #303
@lucastbelem the dropdown options for type of organization (cell G68 on the Google Sheet) are different than what's currently on the platform. I have updated the dropdown menu to reflect the GSheet, is this correct?

[2020-07-10 04:15] mmacedom commented on #284
@GeorgeBellTMH @lucastbelem I just added the tooltip to event, groups, resources card titles on the dashboard. Let me know if this works for you guys. Thanks

[2020-07-10 04:18] JonEsparaz commented on #249
I'll probably write this in Python. I think this is what we need: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.update_item

[2020-07-10 04:20] GeorgeBellTMH commented on #249
Yup. I have a python folder. Just add it there.

Sent from my iPhone

On Jul 10, 2020, at 12:18 AM, Jon Esparaz <notifications@github.com> wrote:

﻿

I'll probably write this in Python. I think this is what we need: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#DynamoDB.Client.update_item

—
You are receiving this because you were mentioned.
Reply to this

[2020-07-10 12:56] lucastbelem commented on #303
@Jon Esparaz <jon.esparaz@gmail.com> you got it on the dropdown items.

As for the employee and people fields when viewing someone else's profile:

"How many employees do you have?" should be "Employees"
"How many people do you serve?" should be "People impacted by our services"

On Thu, Jul 9, 2020 at 9:15 PM Jon Esparaz <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project

[2020-07-10 15:34] #209 closed

[2020-07-10 17:53] lucastbelem opened #308 "Events: Glitch with buttons"
Everything works well, but the button in the event tile on the dashboard says I'm the owner of an event I didn't create.

<img width="437" alt="Screen Shot 2020-07-10 at 1 52 12 PM" src="https://user-images.githubusercontent.com/48295718/87183755-ba140f00-c2b4-11ea-8e9d-e13387b28879.png">

[2020-07-10 18:04] lucastbelem opened #309 "Profile creation: user doesn't exist error message"
When I'm creating a profile, after I enter the verification code, I'm taken back to the login screen with the error message "user doesn't exist" already displaying (because I immediately tried to login with a non-existing account first). Can we make it so this error message disappears once I'm verified and am taken back to the login screen? It's a bit confusing.

<img width="1011" alt="Screen Shot

[2020-07-10 18:06] JonEsparaz commented on #309
I'll look into it.

[2020-07-10 18:15] lucastbelem opened #310 "Profile creation: Styling"
Could we take a look at styling of the profile creation page? The panel on which "Tell us more about you" sits should be white. The text boxes should be the grey pieces.

Here is a sample of what I'm referring to:
<img width="1420" alt="Screen Shot 2020-07-10 at 2 12 25 PM" src="https://user-images.githubusercontent.com/48295718/87185344-9605fd00-c2b7-11ea-91c9-1a8c4784a80e.png">

Here is the link

[2020-07-10 18:20] mmacedom commented on #284
@GeorgeBellTMH @lucastbelem I added a condition to the tooltip so that it only appears once the title string has 54 or more than 54 characters. I thought it didn't make a lot of sense to keep the tool tip if the full title is readable. Thoughts?

[2020-07-10 18:25] lucastbelem commented on #304
@GeorgeBellTMH Everything is working fine. I deleted my profile and created a new one. All is well.

However, I lied to you - Jon now fixed the profile bugs I told you about...next time you're available, could you publish again? Sorry man!

[2020-07-10 18:26] lucastbelem commented on #284
Makes sense to me. Though, currently, it is showing up for everything
(under 54 characters too).

On Fri, Jul 10, 2020 at 2:21 PM mmacedom <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager
*Out of Office Alert: July 17 to July 20*

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

[2020-07-10 18:27] JonEsparaz commented on #304
I think you might be talking about the changes in #286. Not quite done yet (still dealing with #303).

[2020-07-10 18:31] lucastbelem opened #312 "Removals and hiding throughout"
Please remove:

- [x] All groups, except the partner super hub
- [x] Test resource

Please hide:
- [x] Jesus Collective Podcast

[2020-07-10 18:34] mmacedom commented on #284
@lucastbelem I just created the new PR with the code to reflect the new condition. Once merged, then we'll see that reflected on beta. Also, Resources has a lower max character count

[2020-07-10 18:45] JonEsparaz commented on #312
I don't have admin access or AWS access. This is something for George to do.

[2020-07-10 18:46] #285 closed

[2020-07-10 18:46] #263 closed

[2020-07-10 18:46] #266 closed

[2020-07-10 18:46] #303 closed

[2020-07-10 18:46] #304 closed

[2020-07-10 18:46] JonEsparaz commented on #310
@mmacedom I'd recommend waiting until #286 is merged so you don't get a merge conflict.

[2020-07-10 18:51] mmacedom commented on #310
@lucastbelem I definitely agree with you that the red bar can be narrower. I can reduce the size of it a bit more so the other columns have a bit more "breathing room".

[2020-07-10 18:52] #284 closed

[2020-07-10 18:52] lucastbelem opened #313 "Footer links"
Please add:

"Report bugs". Action should trigger a mailto: bug.report@jesuscollective.com.

Can we also make it so all of the links in the footer in a new browser window?

[2020-07-10 18:57] GeorgeBellTMH commented on #304
Published….please check

From: lucastbelem <notifications@github.com>
Reply-To: jesus-collective/mobile <reply@reply.github.com>
Date: Friday, July 10, 2020 at 2:25 PM
To: jesus-collective/mobile <mobile@noreply.github.com>
Cc: George Bell <george.bell@themeetinghouse.com>, Mention <mention@noreply.github.com>
Subject: Re: [jesus-collective/mobile] Profiles: Current Role disappears (#304)

@George

[2020-07-10 19:10] lucastbelem opened #314 "First sign in"
It looks like the first time someone signs in after creating their account, the screen stays blank and refreshing doesn't fix it. You have to specifically re-type beta.jesuscollective.com to see your profile creation screen.

[2020-07-10 19:22] #230 closed

[2020-07-10 19:30] mmacedom commented on #310
@lucastbelem I just created a new PR to reduce the red bar from 25% to 15% width. Let me know what you think when it's merged.

[2020-07-10 19:40] #297 closed

[2020-07-10 20:05] mmacedom commented on #229
@lucastbelem after pulling from master this morning, I noticed that the "courses" navigation tab was removed for now. I'm assuming George is working on it? I'll keep styling it once it's back on

[2020-07-10 21:08] lucastbelem opened #316 "Leadership Development - Public Release"
Scope: This project endeavours to create, within the existing Jesus Collective platform, a course platform. This platform will allow participants to join a course, engage in conversation about a pre-loaded syllabus, produce written and video assignments, and engage with an instructor who evaluates their performance and progress through the course. As part of this project, here are the functions th

[2020-07-10 22:27] JonEsparaz commented on #242
@GeorgeBellTMH I think we can avoid the VTL. What do you think of this?

[code]

[2020-07-12 21:02] JonEsparaz opened #322 "Tooltip: Set font family, resources text"
Font should be Graphik or at least something sans-serif.

For "Kids & Youth Curriculum", the tooltip is activated even though I can see the full title on the card.

[2020-07-12 22:15] JonEsparaz commented on #309
As mentioned in #296, we can fix this if we do a fully custom auth flow. I did some tests today and it should be doable, but might time consuming.

[2020-07-13 03:59] #308 closed

[2020-07-13 04:02] #269 closed

[2020-07-13 14:48] lucastbelem commented on #310
@mmacedom looks great!

Here are a couple more suggestions:

- Can you add to the width of the 2 columns of the profile creation piece? Especially the second column with all of the text fields?
- Can you make it so that text boxes are a bit larger? As I type in them, because they're generally only about 2 lines tall, the text disappears from view as I keep typing. Could we make so: 1) the boxes ar

[2020-07-13 17:58] mmacedom commented on #310
@lucastbelem absolutely I'll look into that. I created a PR on Friday that should address all of the issues mentioned above (#377). Once it's merged, I'll check and see if the issues mentioned above still remain. @GeorgeBellTMH

<img width="1150" alt="Screen Shot 2020-07-13 at 1 53 49 PM" src="https://user-images.githubusercontent.com/24467324/87337088-e2984500-c510-11ea-8c22-a8ab19c37706.png">

[2020-07-13 21:16] #312 closed

[2020-07-13 21:16] GeorgeBellTMH commented on #312
Done

[2020-07-14 13:39] MattMilesJC opened #325 "Titles collide in reduced browser window size"
**Describe the bug**
When I reduce my browser window to half size, the titles on the dashboard collide.  See 'events' title colliding with red titles below.

![image](https://user-images.githubusercontent.com/68029138/87432240-bb478380-c5b5-11ea-8b8d-69f11a4f4555.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expec

[2020-07-14 13:45] MattMilesJC opened #326 "People You May Connect With: Copy Edit"
**Describe the bug**
On the dashboard, People You May Connect With should be changed to: Connect with Others

Also, it's not clear that this title is clickable and takes you to the full directory. Viewing the directory is a good feature that we should make more visible.

Maybe we could just add a button or red clickable text directly underneath "Connect with Others" and above the scrolling directo

[2020-07-14 13:45] MattMilesJC opened #327 "Not all profile pins show on the map"
**Describe the bug**
It doesn't look like everyone's profile pins show on the map? I can't find mine on the map.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-14 13:46] MattMilesJC opened #328 "'Sponsored' designation doesn't appear on groups or events"
**Describe the bug**
When I identify a group or event as sponsored, it doesn't show up as sponsored on the dashboard.

[2020-07-14 14:09] GeorgeBellTMH commented on #328
We will need to add the sponsored text on the MyGroups Cards

[2020-07-14 14:10] MattMilesJC opened #329 "Event buttons shouldn't say 'Don't Attend'"
**Describe the bug**
When I click the attend button for an event it should show something that confirms I have already added it, rather than say "Don't Attend".  I think we talked about this in the design phase? Maybe even turning the button green after you've clicked 'attend'?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See erro

[2020-07-14 14:11] GeorgeBellTMH commented on #328
Related to 294

[2020-07-14 14:12] GeorgeBellTMH commented on #327
Duplicate of #280 ...

[2020-07-14 14:12] #327 closed

[2020-07-14 14:12] MattMilesJC opened #330 "Extra white space beneath resources and above footer on dashboard"
**Describe the bug**
There's a lot of excessive white space beneath the resources section on the dashboard.

[2020-07-14 14:14] MattMilesJC opened #331 "About me window too small on edit profile page"
The about me text bar in the edit profile page is very small.  Most people will write quite a bit here (and we want them to) which makes it hard to track what you're typing in such a small bar. Can we enlarge the field space so you can see more of what you've typed?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expecte

[2020-07-14 14:15] GeorgeBellTMH commented on #153
Closing for #325

[2020-07-14 14:15] #153 closed

[2020-07-14 14:16] GeorgeBellTMH commented on #330
Coming soon: courses and organizations...should be resolved when they go live

[2020-07-14 14:16] MattMilesJC opened #332 "Profiles say un-verified"
**Describe the bug**
I don't know what 'un-verified' means on people's profiles?  That should probably be removed? Or is that visible only to adminisrators?

[2020-07-14 14:18] GeorgeBellTMH commented on #332
The code for this is being worked on, and coming soon...we have to determine based on a number of things (payment, profile completion, elevated permissions etc.) what they are: un-verified is the initial state, there will be verified, friends, partners, admin.

[2020-07-14 14:22] MattMilesJC opened #333 "Zoom events show an eventbrite link instead of a zoom link"
**Describe the bug**
After creating an event with a zoom link and designating it a 'zoom' event in the dropdown, the event listing still shows an 'Eventbrite' link on the dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scree

[2020-07-14 14:24] MattMilesJC opened #334 "All group types should have a green box instead of leave/unfollow etc."
**Describe the bug**
The button says 'leave' on resources (and I think also on groups) once you've joined/follow that resource.  The button should be something that confirms you are joined (group) or following/tracking (resources).  Similar to the 'don't attend' issue for events.

[2020-07-14 16:56] GeorgeBellTMH commented on #334
Duplicate of #329

[2020-07-14 17:02] GeorgeBellTMH commented on #334
We need to figure out the best way to do this that works the same for events/resources/courses/groups/orgs...there are a few different cases that need to be handled:

1) You are the owner of the group - in this case there are no actions that you can take (owners are already members, and can't leave except by deleting the group) - so it should say something along the lines of "You Own This Group"

[2020-07-14 17:03] GeorgeBellTMH commented on #334
Additionally there will eventually be groups that you can't join (but you must still be able to leave) - for example invite only groups, or groups where you need to ask to join.

[2020-07-14 17:07] GeorgeBellTMH commented on #242
Not sure if you can use arrays, but I'm willing to try it and see what happens...

[2020-07-14 17:08] GeorgeBellTMH commented on #242
https://github.com/aws-amplify/amplify-cli/issues/2705

[2020-07-14 17:09] GeorgeBellTMH commented on #242
I'm fine if we leave this for now...unless you feel adventurous and want to do an Amplify PR....

[2020-07-14 17:11] JonEsparaz commented on #242
The docs suggest that this should work, but I not 100% sure: https://docs.amplify.aws/cli/graphql-transformer/directives#multiple-authorization-rules

[2020-07-14 17:13] GeorgeBellTMH commented on #242
k, doesn't hurt to try ;-)

[2020-07-14 17:42] lucastbelem commented on #334
@GeorgeBellTMH thanks for laying this out. Here are some thoughts re your points:

1 and 2: Perfect! That's exactly how it should go.
3: You should definitely be able to leave a group/resource/event. However, Matt doesn't want that to be as easy as showing up on the homescreen. So, all of that to say, "a" should not be a thing. "b" should be the only way someone can leave group/resource/event.

On

[2020-07-14 17:48] lucastbelem commented on #331
Duplicate of #310

[2020-07-14 20:55] MattMilesJC commented on #334
Thanks for the convo on this one, guys.  I agree with where we’re landing as per Lucas’ note below.  In addition to ‘not wanting them to leave easily’ it’s also just a matter of strange optics when you’re looking at a dashboard of events and groups that says “don’t attend, don’t attend, leave, leave, leave…” ahaha.   The homescreen is a place to remind people what they’re involved in and part of v

[2020-07-15 01:07] #326 closed

[2020-07-15 01:07] #328 closed

[2020-07-15 01:07] #333 closed

[2020-07-15 02:00] GeorgeBellTMH commented on #332
Are we ok setting everyone to partner for the time being? Or do we need someway to give people friend or partner...I can handle giving people admin for the time being.

[2020-07-15 02:05] GeorgeBellTMH commented on #310
Merged the PR...please verify

[2020-07-15 02:16] GeorgeBellTMH opened #336 "New Dev Environment Setup/Issues"
I have setup a new environment for dev...https://ddy0xjuoytpqt.cloudfront.net for now...

There are a few things left to do:

- [x] Setup Certs (@branden-eyk)
- [x] Setup DNS dev.jesuscollective.com (@branden-eyk)
- [x] Setup Cloudfront (@GeorgeBellTMH)
- [x] Setup Lambda for Profile Images (@GeorgeBellTMH)
- [ ] Tagging so we can track budget

Please let me know if you find any other issues - I h

[2020-07-15 13:31] lucastbelem commented on #332
Hey George,

 The only people on the platform at the moment are partners and admins, no
friends.

On Tue, Jul 14, 2020 at 10:01 PM George Bell <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Manager
*Out of Office Alert: July 17 to July 20*

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.c

[2020-07-15 13:40] MattMilesJC commented on #332
Technically not everyone is a partner as the initial trial hub consists of partner applicants and other special invites. I think for now I'm comfortable if they are all labelled partners.

-------- Original message --------From: Lucas Belem <notifications@github.com> Date: 2020-07-15  9:32 a.m.  (GMT-05:00) To: jesus-collective/mobile <mobile@noreply.github.com> Cc: MattMilesJC <matt.miles@jesusco

[2020-07-15 13:45] lucastbelem commented on #332
Sorry, didn't know that was the case.

[2020-07-15 13:52] MattMilesJC commented on #332
No prob… I may not have mentioned that level of detail. 😊

Matt Miles

m: 647.746.0242
www.jesuscollective.com<http://www.jesuscollective.com/>
www.themeetinghouse.com<http://www.themeetinghouse.com/>

Hear what people are saying about Jesus Collective!<https://www.youtube.com/watch?v=TI1eg4GunV8>

From: Lucas Belem <notifications@github.com>
Sent: July 15, 2020 9:46 AM
To: jesus-collective/mobile

[2020-07-15 18:16] lucastbelem opened #337 "Profile picture view in groups"
A user reports that they uploaded a picture which appears normally in their profile:
<img width="484" alt="Screen Shot 2020-07-15 at 2 10 16 PM" src="https://user-images.githubusercontent.com/48295718/87580111-f83e7380-c6a4-11ea-96ce-814331a0f3b0.png">.

However, when they joined a group, the icon with their picture displays their image sideways:
<img width="470" alt="Screen Shot 2020-07-15 at 2 1

[2020-07-15 18:37] GeorgeBellTMH commented on #337
I've fixed this.

[2020-07-15 18:37] GeorgeBellTMH commented on #337
exif in image needs to be handled by sharp

[2020-07-15 18:38] #337 closed

[2020-07-15 20:18] lucastbelem opened #338 "People you may connect with"
If you go to "people you may connect with" you'll see all of the existing profiles on the platform. However, as you can see in this screenshot, the last row is being cutoff.
<img width="1439" alt="Screen Shot 2020-07-15 at 4 17 42 PM" src="https://user-images.githubusercontent.com/48295718/87591779-d4842900-c6b6-11ea-8459-d559bc01a3df.png">

[2020-07-16 14:50] GeorgeBellTMH commented on #241
jcProcessDMAlerts now has access to send emails. We need to do some additional work in the function to get the following from Dynamo:

1) All Users in Room (minus Sender of Message)
2) HTML Formatted and Text formatted versions of the message
3) Direct Link to DM

[2020-07-16 15:50] lucastbelem commented on #127
Here are all of the confirmed answers/resolutions to orgs: fyi - many-to-many may be needed after all.

- Organizations and post and appear as the organization. Individual posting as the organization should appear in a secondary way design-wise. i.e. Zulema Smith posting as The Meeting House OR The Meeting House (Zulema Smith).
- Organizations are allowed to have an unlimited number of individual

[2020-07-16 16:15] JonEsparaz commented on #127
@lucastbelem per the change... How do we then determine which organization appears on the user’s profile?

[2020-07-16 16:21] JonEsparaz commented on #127
@lucastbelem how about groups? Can they create groups? Also, can the organization join groups (and I assume it doesn’t make sense to allow organizations to attend events)?

Also, I believe it was intended that users can follow an organization (then get alerts when they create an event or have new curriculum) - is this actually a thing?

[2020-07-16 16:35] GeorgeBellTMH commented on #127
I think on a user profile it should show a list of organizations you are following, and a list of organizations you are a member of.

[2020-07-16 16:36] JonEsparaz commented on #127
@lucastbelem two more questions:
- To explicitly  confirm, organizations can only be created via the sign up flow and an admin account **must** be created along with the organization (you cannot attach an existing account) - this will be painful to change later, so it would be good to know for sure now
- Do the contents of the Google Sheet supersede what's on Figma in terms of content on an organi

[2020-07-16 16:37] JonEsparaz commented on #127
Ok this makes sense to me. What happens to the information a user input when creating their profile though? (It would look weird if they are a member of the Meeting House, but the information about TMH conflicts with the org's profile)...

[2020-07-16 16:38] GeorgeBellTMH commented on #127
I think anyone who is a member of an organization has this information disappear....it's superseded by the organizations information...

[2020-07-16 16:40] GeorgeBellTMH commented on #127
If the only time to create an org is at signup then users have to delete themselves to create an org...it should be possible through both flows, unless we want to lock users into not have orgs once they've made that decision...

[2020-07-16 16:42] GeorgeBellTMH commented on #127
I actually think we will shortly realize that instead of collecting org information on the user profile, we should just ask what organizations they are apart of...and then handle that after they finish their user profile (so if they say they are apart of an existing org we handle that via an approval process, if they say they are part of a new org, we do that flow...and if they say they are not pa

[2020-07-16 16:54] GeorgeBellTMH commented on #127
I've create an example in Figma...https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=3343%3A148164

[2020-07-16 16:56] JonEsparaz commented on #127
This might contradict one of Lucas' earlier points:

[2020-07-16 17:00] lucastbelem commented on #127
@JonEsparaz

- Regarding orgs that appear: I like George's idea of displaying all of them. I don't know what this would look like though. Showing the orgs that the user follows should be easy - we just add another row of tiles to their profile like "my events" and "my groups".

- Regarding groups: Orgs can create groups (i.e. The Meeting House would be able to create groups). Orgs cannot join grou

[2020-07-16 17:01] lucastbelem commented on #127
@GeorgeBellTMH regarding your figma design - let's talk about this. There is a use case in my mind that won't work with some of things we're thinking.

[2020-07-16 17:02] GeorgeBellTMH commented on #127
https://www.figma.com/file/aJzmRbxyuoqkRPUikSVwUgwk/Jesus-Collective?node-id=3343%3A148695

[2020-07-16 17:02] GeorgeBellTMH commented on #127
That's an example of how the profile page could look

[2020-07-16 17:02] lucastbelem commented on #127
Love it.

[2020-07-16 17:03] JonEsparaz commented on #127
Again for this, if they are in multiple organization, how do we decide what information to use to supersede? Does the user somehow select "make this my primary organization"?

[2020-07-16 17:03] lucastbelem commented on #127
Let's talk about stuff in 10 mins at our 1:15pm.

[2020-07-16 17:04] lucastbelem commented on #127
You guys wanna meet now?

[2020-07-16 17:04] GeorgeBellTMH commented on #127
Sure...

[2020-07-17 03:37] GeorgeBellTMH commented on #332
Everyone is partner for now, tracking the rest in #142

[2020-07-17 03:37] #332 closed

[2020-07-17 03:38] GeorgeBellTMH commented on #142
Lambda now updates all users to Partners

[2020-07-17 03:39] GeorgeBellTMH commented on #241
Alert email checkboxes are now visible in the user preferences page.

[2020-07-17 03:44] GeorgeBellTMH commented on #314
I believe this is caused when you delete a user and then recreate...it navigates to the profile page instead of signupscreen3...I believe the solution is to navigate to root after deleting a user (or logging off)...also possible we need to navigate to signupscreen3 from all pages if the profile is not complete.

[2020-07-17 03:44] #310 closed

[2020-07-17 03:45] #298 closed

[2020-07-17 03:49] GeorgeBellTMH commented on #161
Are we ok with the current design? Or can we close this?

[2020-07-17 03:53] #5 closed

[2020-07-17 03:53] #4 closed

[2020-07-17 03:55] GeorgeBellTMH commented on #52
Duplicate of #207

[2020-07-17 03:55] #52 closed

[2020-07-17 03:56] GeorgeBellTMH commented on #208
Duplicate of #207

[2020-07-17 03:56] #208 closed

[2020-07-17 04:01] GeorgeBellTMH commented on #334
Sounds good, we will change all of them to green dots for consistency.

[2020-07-17 04:02] GeorgeBellTMH commented on #329
Closing for #334

[2020-07-17 04:02] #329 closed

[2020-07-17 04:05] GeorgeBellTMH commented on #336
@mmacedom @lucastbelem @JonEsparaz - environment is now available: dev.jesuscollective.com...will be publishing there mainly for now, releases to beta.jesuscollective.com will happen on Sunday nights.

[2020-07-17 04:38] GeorgeBellTMH commented on #280
We now save a randomLat and randomLong, so user should appear in place+randomized distance away - and always be in the same location.

[2020-07-17 04:38] #280 closed

[2020-07-18 00:02] GeorgeBellTMH commented on #241
Alert now redirects to the conversation screen

[2020-07-18 18:30] JonEsparaz opened #342 "Map Info Window: Functional Changes"
- [x] When you click on a marker and the info window opens, the space above and below the info window is covered by a `<View/>` (see screenshot) that is used to vertically center the info window. This makes means that users cannot close the info window by clicking on this portion of the map (they have to click the X or click to the left or right of the info window).

- [x] ~~Also, the mobile desig

[2020-07-18 18:56] JonEsparaz opened #343 "Event Directory: Sort events"
Probably want to sort by date (if no filters are applied).

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713144336)

[2020-07-18 22:25] GeorgeBellTMH commented on #219
Closing for #316

[2020-07-18 22:26] #219 closed

[2020-07-18 22:26] GeorgeBellTMH commented on #229
You should have access to courses. Let me know if you don't.

[2020-07-18 22:27] GeorgeBellTMH commented on #277
Sounds good...

[2020-07-19 08:00] #107 closed

[2020-07-19 08:01] #100 closed

[2020-07-19 08:01] #101 closed

[2020-07-19 08:02] #103 closed

[2020-07-19 08:05] JonEsparaz opened #345 "Orgs: Migrate creation to sign up/sign in"
After #344, Organizations can be created, but via the dashboard. This needs to happen exclusively at sign up/sign in.

[2020-07-20 01:07] mmacedom commented on #338
@lucastbelem I fixed the issue

[2020-07-20 01:07] #338 closed

[2020-07-20 01:31] mmacedom commented on #331
@lucastbelem @MattMilesJC I have increased the height of the "About Me" container so it accommodates around 530 characters (around 5 lines of copy) without triggering any scrolling behaviour on desktop . Please advise if there is a need to add more vertical space to it. Thanks

[2020-07-20 01:35] #331 closed

[2020-07-20 03:03] #247 closed

[2020-07-20 03:08] #249 closed

[2020-07-20 03:30] JonEsparaz commented on #277
I'm working on some VTL for a batch mutation.

[2020-07-20 17:52] JonEsparaz commented on #104
I'd like to get started with this sooner rather than later. @GeorgeBellTMH let me know what you think of the plan I add in the first comment.

[2020-07-20 21:13] GeorgeBellTMH commented on #104
Yup... I have emails working in the lambdas now. Just take a look at the DM one.

I was having trouble authenticating correctly without using a user - there is an example without a password in the other lambda....I have to setup secrets on Amazon so the password is added as an env variable. But for now I am just hardcoding the password when I publish.

I think you can either do it as a trigger whe

[2020-07-21 02:53] mmacedom commented on #229
@GeorgeBellTMH There's no courses on my local after I pulled from master tonight.

[2020-07-21 02:59] mmacedom commented on #322
@lucastbelem @JonEsparaz I adjusted the condition of orgs that will address the second issue mentioned above. As far as font family, I need to be able to create events/groups on my local to adjust that. As of the latest pull from master, I cannot create groups/events. @GeorgeBellTMH

[2020-07-21 12:12] MattMilesJC opened #353 "Design of Direct Messages page"
The design is a bit wonky where the names are listed under "Direct Messages" in the direct messages page.  The names are not centred vertically next to the photo circles, the photo circles are not centred vertically in the grey boxes, and the photo circles are pressing up against the left hand side of the grey boxes.

![image](https://user-images.githubusercontent.com/68029138/88053486-e25c0300-cb

[2020-07-21 12:14] MattMilesJC opened #354 "Photo on message box in direct messages"
The author photo next to the message box in the message window in direct messages is floating too high relative to the message box.

![image](https://user-images.githubusercontent.com/68029138/88053677-31a23380-cb2a-11ea-8503-c59daf474f01.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear an

[2020-07-21 12:27] MattMilesJC opened #355 "Button outline weights are not consistent on dashboard"
The weight/thickness of the button outlines for white buttons with a red outline are not consistent on the dashboard page.  e.g. See 'Create Event' vs. 'Start Conversation' or 'Jesus Collective Directory'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expe

[2020-07-21 12:31] MattMilesJC opened #356 "Start Conversation buttons -- boxes too wide + font size too big + font not centred vertically"
The start conversation buttons (on the dashboard, and when you view other people's profile pages) are very wide -- should be less wide.  And the font size in the button seems too large relative to the name and role description font sizes.  See original figma design.

Also start conversation text is not centred vertically in the buttons.

![image](https://user-images.githubusercontent.com/68029138/

[2020-07-21 12:36] MattMilesJC opened #357 "Carousel arrows missing on dashboard"
Carousel arrows to the left and right of the carousels (e.g. events, groups, resources) are not present to help the user scroll through the carousel.

Also, the way the carousel scrolls in beta exposes only a portion of the next item in the carousel on the right hand side of the carousel when you scroll, which looks weird.  And there is not enough spacing between the rightmost item in the carousel

[2020-07-21 12:42] MattMilesJC opened #358 "Names and roles not centred next to profile photos in conversation panel on dashboard"
People's name and profile and the 'start converation' button are not centred vertically relative to the profile photos in the conversation panel on the dashboard.

![image](https://user-images.githubusercontent.com/68029138/88056121-0faab000-cb2e-11ea-829c-9ba8e74920d9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2020-07-21 12:56] MattMilesJC opened #359 "Start conversation buttons not aligned on profile directory page"
Start conversation buttons are not left justified with the name and role of the person next to their profile image on the partner profile directory page.

Also the buttons look really chunky here -- too tall vertically relative to their width.  Start converation buttons seem like they should be a standard size and shape across the site?

![image](https://user-images.githubusercontent.com/68029138/

[2020-07-21 13:02] MattMilesJC opened #360 "Profile pictures inconsistent -- some are ovals and some are circles"
Profile pics on the list on the dashboard are ovals but are circles in other areas of the site like the profile directory page. Should be consistent?  Ovals is our thing so that would be my preference.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected

[2020-07-21 13:13] MattMilesJC opened #361 "Text spacing on profile page; and profile name font"
'The line spacing in the "about me" copy on the profile page is very tight.

Also, in general, the spacing between headings and text on the profile page is very tight (e.g. between About Me heading and copy, between Interests heading and interest buttons, spacing in Organization Info section).

Also, the person's profile name should be in a bolder typeface.

See beta vs. original Figma design belo

[2020-07-21 17:10] JonEsparaz commented on #322
You probably can’t create groups/events because of a sort of bug introduced by organizations. I’ll fix later this afternoon

[2020-07-21 18:15] lucastbelem commented on #356
Duplicate of #158

[2020-07-21 20:36] lucastbelem opened #364 "Resource: Header text"
Can we fix a couple of things here:

1. Header text is too large compared to Figma
2. Text box for header text should be wider (i.e. I need to write "Youth Curriculum")
3. Description text box is too short and narrow. I need to be able to put a couple lines of text in there.
4. Header text, boxed-in text, and description text need to be unique for each resource page (i.e. kids, jr. high, etc). Cur

[2020-07-22 02:08] mmacedom commented on #359
@MattMilesJC @lucastbelem The issue has been fixed with a new PR that was just opened.

[2020-07-22 02:10] #359 closed

[2020-07-22 02:13] mmacedom commented on #364
@lucastbelem I just pulled from master and still can't get into Resources. I will fix these issues once I am able to.

[2020-07-22 02:23] GeorgeBellTMH commented on #364
Can you create a new resource?

[2020-07-22 02:31] mmacedom commented on #364
@GeorgeBellTMH Yes I can now. The hero image is not appearing at this point though. Is it because it hasn't been populated on the back end for this particular resource?

[2020-07-22 02:32] GeorgeBellTMH commented on #364
You have to create a hero image by uploading it...click the icon...

[2020-07-22 02:33] GeorgeBellTMH commented on #364
You can change fields in the header by long clicking...then they change to text boxes...

[2020-07-22 02:39] GeorgeBellTMH opened #366 "Org detail not showing"
<img width="1579" alt="image" src="https://user-images.githubusercontent.com/47749730/88128003-03ad0580-cba3-11ea-9453-8826e5009dfa.png">

Test org results in blank page...maybe not visible unless you are owner?

[2020-07-22 02:42] GeorgeBellTMH commented on #357
windows users always want the Carousel buttons....Mac users don't seem to care...but then I see that ugly scroll bar and it all makes sense...

[2020-07-22 02:48] GeorgeBellTMH commented on #360
@mmacedom if this is an obviously easy style fix lets try and do it...if it's more complicated don't worry about it.

[2020-07-22 03:02] #366 closed

[2020-07-22 03:02] GeorgeBellTMH commented on #364
Also, I have just pushed a change, so you should be able to add series and add episodes now...

[2020-07-22 03:14] GeorgeBellTMH commented on #242
Looks like we will need to at least handle the exception...we may need to write a script as well...

[2020-07-22 03:30] mmacedom commented on #364
@lucastbelem I fixed the height of the description so it can fit 3 lines as requested. As far as the size of the size of the header, it is set at 100px (like the mockup) let me know if you still like it to be smaller.

As far as point 2 and 4, I had pushed a PR with adjustments addressing this. I will see if I can find them. If not, I will adjust as well.

[2020-07-22 03:49] mmacedom commented on #364
@GeorgeBellTMH Would you know why the changes on this PR "resource - hearderGroupBoxText Conditions #317" are not reflected on the up to date ResourcesHeader file?

[2020-07-22 03:51] GeorgeBellTMH commented on #364
We modified it so that it is an editable text box...instead of hardcoded values.

[2020-07-22 03:53] GeorgeBellTMH commented on #364
https://github.com/jesus-collective/mobile/commit/8c59fe004c8ff50398d58199c2d7cdb97b20b717 you can see the changes there...

[2020-07-22 04:42] mmacedom commented on #361
@MattMilesJC @lucastbelem this has been addressed with a new PR. Please advise if there needs to be further changes to spacing on it. Thanks

[2020-07-22 04:42] #361 closed

[2020-07-23 03:55] mmacedom commented on #364
@lucastbelem I adjusted everything now as requested. The header font size is smaller than the mock up's but it is smaller now. Let me know what you think. Thanks

[2020-07-23 03:55] #364 closed

[2020-07-23 20:20] lucastbelem commented on #342
@JonEsparaz users also can't go from one profile popup to another by simply clicking on another marker.

[2020-07-23 21:48] GeorgeBellTMH commented on #300
Map state is now remembered on your browser...if you close it, it stays closed.

[2020-07-23 21:48] #300 closed

[2020-07-23 21:49] GeorgeBellTMH commented on #336
Closing, will implement tagging once it's supported by Amplify

[2020-07-23 21:49] #336 closed

[2020-07-23 21:51] GeorgeBellTMH commented on #277
Let me know if that worked...

[2020-07-24 13:04] lucastbelem opened #372 "Orgs not showing up"
Hey guys,

I still can't see orgs on dev or beta. Is it published?

[2020-07-24 14:32] #134 closed

[2020-07-24 14:54] lucastbelem commented on #316
@GeorgeBellTMH can we talk about all of these functions? I'm wondering how you're feeling about everything that needs to be delivered in the next month, in light of vacations, etc? Do we need to talk about cutting scope?

[2020-07-24 16:00] lucastbelem commented on #161
I think we do need to check on this and see if we can get closer to the design. However, this is completely unimportant at the moment.

[2020-07-24 18:57] JonEsparaz opened #374 "Payment processing"

[2020-07-24 19:46] lucastbelem commented on #211
Hey guys,

Sorry this answer is long overdue.

Maybe using the word "Resources" for this purpose isn't helpful as it does not have the same meaning here.

The idea of this "unvetted library" is a place (maybe one Resource group in the Jesus Collective sense) where all pdfs attached to groups within the platform end up living. This Unvetted library would have exist somewhere (maybe under the Resour

[2020-07-24 19:49] GeorgeBellTMH commented on #211
I'd want to see a design for this before we get to far into it.

[2020-07-26 01:30] JonEsparaz commented on #242
@GeorgeBellTMH the auth rules seem to work, but it causes the subscriptions to break... The message content is null when pulled by the subscription (it's fine if you reload the page).

We might need a custom subscription with auth rules... I'm not sure though.

[2020-07-26 01:33] GeorgeBellTMH commented on #242
It did give me an error when I pushed it about subscriptions and required fields. That’s why I made one of the fields optional - to get it to push the changes successfully...

Sent from my iPhone

On Jul 25, 2020, at 9:30 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

@GeorgeBellTMH<https://github.com/GeorgeBellTMH> the auth rules seem to work, but it causes the subscriptions to break... Th

[2020-07-26 01:35] JonEsparaz commented on #277
Doesn't look like it worked (returns [null, null]). I think the issue might be the table name.

Is the table actually named "DirectMessageUser" or "DirectMessageUser-<long string of chars>"?

[2020-07-26 01:37] GeorgeBellTMH commented on #277
https://github.com/aws-amplify/amplify-cli/issues/4794

Sent from my iPhone

On Jul 25, 2020, at 9:35 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

Doesn't look like it worked (returns [null, null]). I think the issue might be the table name.

Is the table actually named "DirectMessageUser" or "DirectMessageUser-long string of chars"?

—
You are receiving this because you commented.
Reply

[2020-07-26 01:45] GeorgeBellTMH commented on #277
Yah, it has the long string of characters depending on which environment it is....

[2020-07-26 01:52] JonEsparaz commented on #242
I read the issue you posted in #277. Seems like there's issues using Cognito and subscriptions too: https://github.com/aws-amplify/amplify-cli/issues/4936

I think the best way forward is to store everyone (sender and recipients) in a single array, then use custom VTL as you originally suggested and only return if the current user is in said array.

[2020-07-26 02:00] JonEsparaz commented on #277
Can we try adding the full table name in the res/req files?

This post suggests that the full name is required: https://medium.com/@jan.hesters/creating-graphql-batch-operations-for-aws-amplify-with-appsync-and-cognito-ecee6938e8ee

Although the AWS Appsync docs I followed suggest otherwise: https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-dynamodb-batch.html#permissions

[2020-07-27 04:06] JonEsparaz opened #377 "Federated (Google, Facebook) Sign In?"
Do we want to implement sign in with Google/Facebook? If so, what's the timeline look like - I could get it done while making the other auth flow changes.

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713144736)

[2020-07-27 04:06] JonEsparaz commented on #372
I believe this is fixed - live on dev, coming soon to beta.

[2020-07-27 04:06] #372 closed

[2020-07-27 04:09] JonEsparaz commented on #127
Closing since I have all the answers I need for now. If you need to reference it, check out the [Organizations project](https://github.com/jesus-collective/mobile/projects/5).

[2020-07-27 04:09] #127 closed

[2020-07-27 12:39] lucastbelem commented on #377
If it's simple/easy enough to include in your work flow for this (i.e. doesn't add too much to the timeline), that's great! If it adds too much complexity, I'd rather leave this for a future release.

[2020-07-27 18:04] lucastbelem commented on #374
Jesus Collective payment processing needs are two-fold:

First, a payment processing solution for purchases (i.e. partnerships, friendships, OLCs, curriculum). Requirements for this:
- An interface as per Jesus Collective design where users can process payment as they purchase one of Jesus Collective offerings;
- Donors must be able to process payment by credit card;
- Interface needs to connect w

[2020-07-27 18:19] lucastbelem commented on #374
Something that has come up in regards to using Quickbooks is whether it would generate automatic invoices for immediate transactions. I.e. partners can be invoiced and pay later. However, Friends will be able to sign up for a product and pay instantly. An invoice should be generated instantly as well. Question is: Can the platform handle this through quickbooks or we could consider opening a shopi

[2020-07-27 18:20] lucastbelem commented on #374
Moneris may actually be able to handle some of these e-commerce situations.

[2020-07-27 18:28] JonEsparaz commented on #374
I'd suggest trying to keep everything within a single payment platform since speedy development is key for Jesus Collective. Stripe is a good option if Moneris can't do it.

[2020-07-27 18:28] JonEsparaz commented on #377
I'll see how long everything else takes then. If I'm ahead of schedule, I'll try and get this done too.

[2020-07-27 18:29] lucastbelem commented on #374
We can look into Stripe. The leaning towards of Moneris is simply due to the fact that we already have an account with them and use their services for some things. I can do a bit research into Stripe.

[2020-07-27 18:30] lucastbelem commented on #374
Do you recommend Stripe because of what you've seen of Moneris in terms of integration?

[2020-07-27 18:36] JonEsparaz commented on #374
Moneris can probably do it, I've just found their documentation a little unclear, so I'm not sure how easy the integrations will be.

I recommend Stripe because it is the payment platform I'm most familiar with, so I'm certain we can quickly add the integrations we're looking for.

[2020-07-27 18:38] JonEsparaz commented on #374
What I'm trying to say is, let's keep Stripe in mind in case Moneris doesn't work out.

[2020-07-27 18:41] GeorgeBellTMH commented on #374
I just looked at stripe. It’s night and day better than Moneris...

Sent from my iPhone

On Jul 27, 2020, at 2:38 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

What I'm trying to say is, let's keep Stripe in mind in case Moneris doesn't work out.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/jesus-col

[2020-07-27 18:45] JonEsparaz commented on #374
Also, I inquired with Stripe a while ago for another project about non-profit pricing (not just if JC applies)... Here's what I was told:

- 2.2% + 30c for Visa / MC transactions made with Canadian credit cards
- 3.2% + 30c for Visa / MC transactions made with international credit cards (this will only be applied if any of your donors happen to use an international Visa or MC)
- 3.5% + 0c for Amer

[2020-07-28 01:01] mmacedom commented on #360
@lucastbelem @GeorgeBellTMH @MattMilesJC I just adjusted the images so they are all ovals now.

[2020-07-28 01:01] #360 closed

[2020-07-28 01:24] mmacedom commented on #358
@MattMilesJC @lucastbelem I just created a new PR to vertically align the content.

[2020-07-28 01:24] #358 closed

[2020-07-28 01:36] mmacedom commented on #354
@lucastbelem @MattMilesJC I created a new PR to address this issue.

[2020-07-28 01:36] #354 closed

[2020-07-28 01:39] mmacedom commented on #353
@MattMilesJC @lucastbelem The last PR created should address all of the issues listed above. Thx

[2020-07-28 01:39] #353 closed

[2020-07-28 02:27] mmacedom commented on #158
@lucastbelem I just pushed a number of changes to address the 3 card view on the dashboard!

[2020-07-28 03:20] JonEsparaz commented on #345
@GeorgeBellTMH for the situation where someone doesn't complete their profile on the first pass, we need a way to determine if the user is signing up as an individual or organization. Can you set up a custom attribute for this in Cognito? Or would it be better to save this data in DynamoDB?

[2020-07-29 05:40] JonEsparaz commented on #345
We might also need another custom attribute for organization name since the mockups suggest that the user should fill out the organization name here:

[2020-07-29 21:10] #108 closed

[2020-07-29 21:10] #296 closed

[2020-07-29 21:10] #309 closed

[2020-07-29 21:12] GeorgeBellTMH commented on #377
I think I might need to hook it up with the proper id's in amplify/cognito for it to work...

[2020-07-29 21:12] GeorgeBellTMH commented on #374
@lucastbelem let us know when you get the account setup.

[2020-07-29 21:41] GeorgeBellTMH commented on #345
orgName, isOrg added...

[2020-07-29 22:54] JonEsparaz commented on #377
@GeorgeBellTMH is everything set up after https://github.com/jesus-collective/mobile/commit/37a24adee14bfe39c902902f98cf8cf370f8bd4e?

[2020-07-29 23:32] GeorgeBellTMH commented on #377
I believe so. There may be some more config I don’t know about...let me know if it works.

Sent from my iPhone

On Jul 29, 2020, at 6:54 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

@GeorgeBellTMH<https://github.com/GeorgeBellTMH> is everything set up after 37a24ad<https://github.com/jesus-collective/mobile/commit/37a24adee14bfe39c902902f98cf8cf370f8bd4e>?

—
You are receiving this becaus

[2020-07-29 23:34] JonEsparaz commented on #345
@GeorgeBellTMH I think we need to edit the read/write permissions. I got the following error: "​A client attempted to write unauthorized attribute"

https://stackoverflow.com/questions/44013901/amazon-cognito-a-client-attempted-to-write-unauthorized-attribute

[2020-07-29 23:36] GeorgeBellTMH commented on #345
I tried to add it them to the list in the json and it gave me an error. Need to read a bit more about it.

Sent from my iPhone

On Jul 29, 2020, at 7:34 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

@GeorgeBellTMH<https://github.com/GeorgeBellTMH> I think we need to edit the read/write permissions. I got the following error: "​A client attempted to write unauthorized attribute"

https://st

[2020-07-30 03:24] GeorgeBellTMH commented on #345
try again

[2020-07-30 04:08] JonEsparaz commented on #345
Works now @GeorgeBellTMH 👍

[2020-07-30 18:59] lucastbelem opened #381 "Delete event!"
@JonEsparaz could you please delete the event "Fall Online Learning Collective" created by Matt? I can't figure out how to do it, Matt is the owner, but he is away, so I can't ask him to do it. There is info missing there, so we need to create a new one with the correct info.

Thanks.

[2020-07-30 19:34] lucastbelem commented on #374
@GeorgeBellTMH @JonEsparaz for Jesus Collective, I talked to Zulema today and got confirmation that we can move forward to set up payment through paypal for Leadership Development. This should make it pretty simple, I think. Let's chat more, but I'd love it if the following was possible:

- User applies via formstack as is
- JC admin needs to be able to send an approval email (off platform) which

[2020-07-30 22:42] JonEsparaz commented on #374
@lucastbelem for next week, can we get a PayPal account set up so George and I can test?

@GeorgeBellTMH I got the Javascript SDK to render the PayPal buttons in React Native (I needed to disable Typescript on the component though). We can explore the PayPal REST API if needed...

[2020-07-30 23:44] GeorgeBellTMH commented on #374
We already have one. I’ll find out the details and send tonite.

Sent from my iPhone

On Jul 30, 2020, at 6:43 PM, Jon Esparaz <notifications@github.com> wrote:

﻿

@lucastbelem<https://github.com/lucastbelem> for next week, can we get a PayPal account set up so George and I can test?

@GeorgeBellTMH<https://github.com/GeorgeBellTMH> I got the Javascript SDK to render the PayPal buttons in React N

[2020-07-31 05:13] JonEsparaz commented on #242
@GeorgeBellTMH how do you want to approach this so we can publish to Beta without breaking DMs? @lucastbelem and I discussed and it would be nice to get #345 published sometime next week.

[2020-08-01 00:57] JonEsparaz commented on #377
@GeorgeBellTMH I think the aws exports are missing the oauth object.

[2020-08-02 14:41] #345 closed

[2020-08-02 21:37] GeorgeBellTMH commented on #374
Can we connect on this on Tuesday...I think we can set stuff up quicker if we do a zoom...

Lucas do you know how much it will be CAD$?

[2020-08-05 15:13] lucastbelem commented on #374
Hey team,

I talked to the JC team today and here's the flow that is planned for the pilot:

**New platform user**
- User applies via the marketing website
- JC team approves application offline and sends user email with link to sign up
- User signs up by creating their account
**- Account creation leads to payment screen (via paypal)
- Processed payment returns them to the platform with confirmat

[2020-08-05 17:06] GeorgeBellTMH opened #391 "Initial CRM"
* [x] List users and their status
* [x] Show user groups
* [x] Add user to group
* [x] Remove user from group
* [x] Invite User
* [x] Payment status

Messaging - Admins can:

* [ ] Ability to message individual users via email, txt, phone or mobile alert
* [ ] Ability to create a group of users and message via email, txt, phone or mobile alert
* [ ] Ability to message all members of a resource or

[2020-08-05 17:09] GeorgeBellTMH commented on #391
For inviting users we need to implement https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminCreateUser.html as part of the admin query

[2020-08-05 18:08] lucastbelem opened #392 "Beta - a couple of profile pics aren't loading"
<img width="432" alt="Screen Shot 2020-08-05 at 2 08 21 PM" src="https://user-images.githubusercontent.com/48295718/89448152-2b64a780-d725-11ea-9708-6c6a0581266f.png">

[2020-08-05 18:13] JonEsparaz commented on #392
I think this is an S3 issue @GeorgeBellTMH

[2020-08-05 18:26] lucastbelem opened #393 "Map change - US centric"
<img width="1428" alt="Screen Shot 2020-08-05 at 2 25 21 PM" src="https://user-images.githubusercontent.com/48295718/89449792-97480f80-d727-11ea-9064-7d1be0d2ac60.png">

Map highlights US states, but not CND provinces. Can we switch the emphasis?

[2020-08-05 18:29] JonEsparaz commented on #393
The map centers you about your location... We can zoom out by default it that helps.

[2020-08-05 19:16] GeorgeBellTMH commented on #392
For future reference, this is due to the lambda function S3Trigger14f1cefa being run with:
npm install
instead of:
npm install --arch=x64 --platform=linux --target=12.2.0

before being pushed...the Darwin binaries for sharp won't run on amazon linux (obviously...)

We probably need some sort of button in the admin that will regenerate missing photos...will create a ticket for that...

[2020-08-05 19:17] GeorgeBellTMH opened #394 "Admin button to recreate missing photos"
If the lambda S3Trigger14f1cefa fails we don't get smaller thumbnails of the user photo. It would be good to have a way to regenerate the thumbnails if they are missing.

[2020-08-05 19:17] GeorgeBellTMH commented on #392
#394 created

[2020-08-05 19:20] GeorgeBellTMH commented on #392
(fixed on localhost)

[2020-08-05 19:20] #392 closed

[2020-08-05 19:53] GeorgeBellTMH opened #395 "Editable Richtext "Click to edit" should disappear when there is content"
When there is content in the ERT component remove the "Click to edit" text.

[2020-08-05 19:53] #395 closed

[2020-08-05 20:05] GeorgeBellTMH opened #396 "Need a mini version of MessageBoard"
<img width="496" alt="image" src="https://user-images.githubusercontent.com/47749730/89458434-0415d680-d735-11ea-99cb-a9440ac801cb.png">

@mmacedom:

I've added a this.props.style="mini"|"regular" on the MessageBoard component...so you should be able to do different things with the style to get it to work...essentially you can do:

style={this.props.style=="mini"?style.miniButtonStyle:style.regula

[2020-08-05 20:07] GeorgeBellTMH commented on #396
I'm fine in this view if you want to get rid of the profile image, and you can probably just have the icon on the upload file button...

[2020-08-05 20:29] JonEsparaz commented on #393
Another option is having the map center in the middle of your country - just let me know what you think would be best for users

[2020-08-05 21:33] GeorgeBellTMH commented on #391
@lucastbelem once we deliver the next version can you test out the CRM functions, specifically inviting users...(click the rocket ship, go to CRM and then enter an email and click invite)

[2020-08-05 21:35] GeorgeBellTMH commented on #104
I am delivering CRM v0.1 that has ability to invite users...

[2020-08-05 21:37] GeorgeBellTMH commented on #104
Just realized that this is really an admin only function for now, since it relies on admin query....hmmm...

[2020-08-06 02:24] mmacedom commented on #396
@GeorgeBellTMH Thanks! You read my mind. I made a note last night to write you about this message board!

[2020-08-06 03:00] GeorgeBellTMH opened #397 "Release to beta Aug 5/10pm"
Just did a release to beta...

@lucastbelem can you take a look and let me know if any issues...(please create a ticket and then add a comment below)

Things to test
- [ ] Photo upload
- [ ] Message boards in groups/events
- [ ] DM Messaging
- [ ] Creating a user
- [ ] Creating an org
- [ ] Creating a group
- [ ] Deleting a group

[2020-08-06 03:03] GeorgeBellTMH commented on #242
I did a bunch of changes to get it to render in beta and added recipients to the DM's...it posts but the content is null for some reason...

[2020-08-06 03:58] mmacedom commented on #396
@GeorgeBellTMH I pushed some changes. Let me know what you think of them

[2020-08-06 12:57] lucastbelem commented on #393
Hey Jon,

I don't think my message was too clear - sorry about that.

By centric, I simply meant that it seems to have labels specifically for US
states, but no labels for Canadian provinces, even when my location is in
Canada. Is there a way to reverse this, or make it even by displaying
Canadian provinces?

This is by no means a priority - just an added ask for future.

On Wed, Aug 5, 2020 at 4:

[2020-08-06 17:02] JonEsparaz commented on #393
Ah I see. This still has to do with zoom/how you're centered on the map. If I zoom out, the province names are there:

![image](https://user-images.githubusercontent.com/48423418/89560499-13545d00-d7e5-11ea-805d-22468ebed28e.png)

[2020-08-06 17:06] lucastbelem commented on #393
I see that now! Thanks man.

[2020-08-06 17:06] #393 closed

[2020-08-06 18:23] lucastbelem opened #399 "Profile - User name"
Most profile fields are editable, however the a person's name isn't. Can we make it so people can change their names? I.e. someone who gets married.

[2020-08-06 18:27] lucastbelem opened #400 "Profile directory"
it's not displaying all profiles (or it is and doesn't let me scroll).

[2020-08-06 18:38] GeorgeBellTMH commented on #399
When we update user name/email we also need to update cognito.

[2020-08-06 18:49] GeorgeBellTMH commented on #396
Yup, it's good (I made some changes to remove some duplicate code)...can you get rid of the margin around it? Make it take up the full width of the header, and remove the gap between the line and it...the more room for writing the better...

[2020-08-07 13:09] lucastbelem commented on #374
Ayden is out.

[2020-08-07 15:53] mmacedom commented on #396
I adjusted it.

[2020-08-07 15:53] #396 closed

[2020-08-09 02:08] GeorgeBellTMH commented on #394
This is now done, can re-run via a python script that re-runs the trigger on all files...

[2020-08-09 02:09] #394 closed

[2020-08-09 02:09] GeorgeBellTMH commented on #314
Closing this...

[2020-08-09 02:09] #314 closed

[2020-08-09 02:13] GeorgeBellTMH commented on #159
Duplicate of #357

[2020-08-09 02:13] #159 closed

[2020-08-09 02:17] GeorgeBellTMH commented on #330
Closing this as we now have orgs...courses coming soon.

[2020-08-09 02:17] #330 closed

[2020-08-09 02:21] GeorgeBellTMH commented on #245
Lucas, do you want to do this, or should I ask Zulema to create something?

[2020-08-14 20:49] lucastbelem opened #406 "Resources: Podcasts"
For V1 of podcasts, we'd like to replicate as much of the marketing website design of podcasts as possible as seen here: https://www.figma.com/file/IblPMRd9fD1XdImFYRBeuG/JC-Website?node-id=1234%3A10900

[2020-08-15 13:02] lucastbelem opened #407 "Courses: Can't access on dev"
There used to be a button called "go to course". I get why it's gone, but is there a way to see what courses are looking like in the meantime?

[2020-08-17 03:59] GeorgeBellTMH opened #409 "Message board is busy..."
<img width="314" alt="image" src="https://user-images.githubusercontent.com/47749730/90356097-56e86b80-e01c-11ea-9e41-cf12bc6e6716.png">

I think you can make it have the date below, and just show the first name (with full name in a tool tip when you hover).

[2020-08-17 03:59] GeorgeBellTMH commented on #409
Probably don't need to have their role...

[2020-08-18 02:45] mmacedom commented on #409
@GeorgeBellTMH I just fixed it. I reflowed the date below the name on the "mini" board. It seems like there is enough space for both the first and second name. Let me know your thoughts

[2020-08-21 03:58] #409 closed

[2020-08-21 03:58] GeorgeBellTMH commented on #407
Is this fixed? If you have joined the course you should see it...

[2020-08-21 03:59] GeorgeBellTMH opened #412 "Timezone is unclickable, and should be regular height dropdown (on events and courses)"
<img width="356" alt="image" src="https://user-images.githubusercontent.com/47749730/90850909-1309a500-e341-11ea-8c95-f3a71b9548a3.png">

[2020-08-21 05:05] GeorgeBellTMH commented on #400
Fixed

[2020-08-21 05:05] #400 closed

[2020-08-21 05:05] GeorgeBellTMH commented on #397
Closing

[2020-08-21 05:05] #397 closed

[2020-08-21 05:10] GeorgeBellTMH commented on #355
They are the same, the difference is the font is bolded in some...as per design.

[2020-08-21 05:10] #355 closed

[2020-08-21 05:24] GeorgeBellTMH commented on #325
This is fixed now

[2020-08-21 05:24] #325 closed

[2020-08-24 15:39] lucastbelem commented on #407
<img width="974" alt="Screen Shot 2020-08-24 at 11 39 03 AM" src="https://user-images.githubusercontent.com/48295718/91065426-7116e080-e5fe-11ea-86ff-cfd77daeffef.png">

Still don't see the "Go to course" button.

[2020-08-25 13:08] lucastbelem opened #416 "Join courses bug"
Currently, clicking "Join" in a particular course tile, seems to add a user to the course multiple times.

[2020-08-27 02:00] GeorgeBellTMH opened #417 "Terminology"
Just got off the phone with Jenn to get this straight and thought it best to put it in an email so we can all refer back to it if necessary. 😂
There are three 'tiers' that are involved in a course: Online Learning Collective > Cohort > Learning Group

Online Learning Collective = the whole group of participants/registrants (36)
Cohort = OLC divided into 3 groups of 12
Learning Group = Cohort divid

[2020-08-27 02:01] GeorgeBellTMH commented on #417
Rename Complete:
Triad=>Learning Group
Coach=>Facilitator

[2020-08-27 02:01] #417 closed

[2020-09-02 15:09] lucastbelem opened #419 "Make it obvious when an event/group has been saved/created"
Some users are reporting that they can't create events in beta. Here is the screenshot Angela is getting:
![image (2)](https://user-images.githubusercontent.com/48295718/92001121-4ae2f600-ed0c-11ea-944f-5fbfb6a1be23.png).

Additional context:

User: Jenn Kuntz - attempted to create an event on Monday and couldn't. Got a similar blank screen. Attempted again on Tuesday and was successful. (part of

[2020-09-02 15:20] lucastbelem commented on #419
From user: "I've tried again this morning and am still getting the blank screen (both in creating new events and groups).  While the page is loading it does flash some of the page features before ultimately going blank so you get the sense you are VERY close to success :)"

[2020-09-08 17:23] #407 closed

[2020-09-08 17:48] GeorgeBellTMH commented on #419
Is this not working on the beta or dev site right now?

From: Lucas Belem <notifications@github.com>
Reply-To: jesus-collective/mobile <reply@reply.github.com>
Date: Tuesday, September 8, 2020 at 1:47 PM
To: jesus-collective/mobile <mobile@noreply.github.com>
Cc: George Bell <george.bell@themeetinghouse.com>, State change <state_change@noreply.github.com>
Subject: Re: [jesus-collective/mobile] Can

[2020-09-08 17:57] lucastbelem commented on #419
beta.

On Tue, Sep 8, 2020 at 1:48 PM George Bell <notifications@github.com> wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and may contain confidential information.  If you

[2020-09-11 20:15] lucastbelem opened #426 "Can't create new courses"
When I click "create new course" I get a blank screen. Similar to the events issue and the issue Matt Miles is having. Something is broken.

[2020-09-15 02:55] GeorgeBellTMH commented on #419
Should be resolved

[2020-09-15 02:56] GeorgeBellTMH opened #429 "input errors show up at bottom of screen"
Can we bring the warnings up closer to the button, so when you click the save button if there is a warning/error on the input that we see it...right now it's at the very bottom of the page...

[2020-09-17 02:09] mmacedom commented on #429
@GeorgeBellTMH We certainly can. Can you let me know on what screen?

[2020-09-17 02:12] mmacedom commented on #412
@GeorgeBellTMH Please let me know if you are still seeing this issue on your end.

[2020-09-17 02:27] mmacedom commented on #406
@lucastbelem Do we have this feature up? I can't find it on my local.

[2020-09-17 12:29] MattMilesJC opened #430 "Events moved to previous too soon"
It looks like events on the platform are moved to 'previous events' as soon as the START time of the event has passed.  For example, an event that starts at 2pm on Sept 20 becomes a previous event at 2pm.  This causes confusion because people try to log on at 2 pm (or after) and can't find the event unless they look in 'previous' events.  The event should not be classed as a 'previous' event until

[2020-09-17 12:31] MattMilesJC opened #431 "Can't see my pin on the map"
I (Matt) can't see my pin on the map.  Wondering if this means other pins may also not be visible, or if it's just because it's my own pin and users can't see their own pins.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots*

[2020-09-17 12:33] MattMilesJC opened #432 "Hyper sensitive dashboard carousel on mobile"
When I try to swipe the carousels on the dashboard it immediately clicks the one I touch first rather than letting me swipe.  I'm using a Samsung S8 with Chrome.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicab

[2020-09-17 15:40] lucastbelem commented on #406
@GeorgeBellTMH did we get this done? It's not needed yet, but I remember that you did some work on this already, so I wanted to check. If we have it, Mateus can get on to it. We want to replicate as much of design style found here as possible: https://jesuscollective.com/media/podcasts. @mmacedom it's not priority yet, so it might not be ready.

[2020-09-18 12:36] lucastbelem opened #433 "Message seems to have disappeared from a group"
There's a weird anomaly in the Partner Super Hub Group where we can see James post "I'm with you Evan, I can't find it either" but no one can see Evan's post that James is referencing.

[2020-09-21 23:25] lucastbelem opened #434 "Blank screen at profile creation persists"
Message from Angela Lam:

"Two members of my Hub are still getting the blank screen issue when they try to create their profiles on the JColl platform.  I know we thought the bug was fixed, so perhaps this is an issue with cache on their specific computers?  I have no idea how ignorant that question may be :)

In case it's helpful, one partner reported that they've tried on both Chrome and Safari.

[2020-09-22 12:07] lucastbelem opened #436 "Blank screen at profile login on dev"
@GeorgeBellTMH blank issue is persisting throughout login and profile creation now.

[2020-09-23 00:41] GeorgeBellTMH commented on #434
Can I get their names, also were they trying to do an organization or regular login?

[2020-09-23 00:41] GeorgeBellTMH commented on #433
It's the only message in that group...

[2020-09-23 00:42] GeorgeBellTMH commented on #431
I think we filter your pin out...but there is currently a limit on the number of pins, so you can't see everyone on the map...

[2020-09-23 01:00] lucastbelem commented on #434
David Hines is one.

I believe regular - did we make orgs available on beta already?

[2020-09-23 01:06] lucastbelem commented on #433
You're right...I think he just posted in the wrong group.

[2020-09-23 01:06] #433 closed

[2020-09-23 01:07] GeorgeBellTMH commented on #433
You might want to suggest to Matt that he makes an initial message post when he starts groups…welcome, explain what it’s for etc...

On Sep 22, 2020, at 9:06 PM, Lucas Belem <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #433<https://github.com/jesus-collective/mobile/issues/433>.

—
You are receiving this because you were assigned.
Reply to this email directly, view it

[2020-09-23 01:09] lucastbelem commented on #433
Good call, thanks!

On Tue, Sep 22, 2020 at 9:07 PM George Bell <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
2700 Bristol Circle | Oakville, ON | L6H 6E1
p: 905.287.7000, ext. 821 | f: 905.287.7099

www.themeetinghouse.com

*This email, including attachments, is for the sole use of the intended
recipient and may contain confidential inform

[2020-09-23 01:10] lucastbelem commented on #434
The blank screen on my end seems to be solved now.

[2020-09-23 12:54] lucastbelem opened #438 "Blank screens at login or profile creation"
David Hines is trying to bla ba...

[2020-09-23 12:56] #438 closed

[2020-09-24 02:23] GeorgeBellTMH commented on #436
Can you check if this is still happening? I have re-released...on beta and dev....

[2020-09-24 02:23] #431 closed

[2020-09-24 02:24] GeorgeBellTMH commented on #419
Can you check and close?

[2020-09-24 02:30] lucastbelem commented on #436
I can get in now. I'll connect with David Hines to see if he is still not able to get in.

[2020-09-24 02:31] #436 closed

[2020-09-24 02:36] lucastbelem commented on #419
@GeorgeBellTMH Angela confirmed that she can create events. But this may be a different issue - I now can create, but not save events.

Event gets created, but when I click "save event" nothing happens.

[2020-09-24 02:37] GeorgeBellTMH commented on #419
Are there any errors when you click save? They should show up way at the bottom of the screen...

On Sep 23, 2020, at 10:36 PM, Lucas Belem <notifications@github.com<mailto:notifications@github.com>> wrote:

@GeorgeBellTMH<https://github.com/GeorgeBellTMH> Angela confirmed that she can create events. But this may be a different issue - I now can create, but not save events.

Event gets created, bu

[2020-09-24 02:41] lucastbelem commented on #419
No error, but it looks like when I closed down the tab and went back in, the event was there after all.

I tried it again, and same thing happened...it looked like nothing was happening and I clicked "save event" a bunch of times, then went back to the dashboard and the event appeared. But nothing in the event creation process itself to tell me that I was successful.

[2020-09-24 02:43] GeorgeBellTMH commented on #419
I think the button changes from create to save…but you are probably right there should be something more obvious...

G

On Sep 23, 2020, at 10:42 PM, Lucas Belem <notifications@github.com<mailto:notifications@github.com>> wrote:

I tried it again, and same thing happened...it looked like nothing was happening and I clicked "save event" a bunch of times, then went back to the dashboard and the even

[2020-09-24 02:50] lucastbelem commented on #419
Do we need the save event? I think once I create it i probably don't need
to save it.

Maybe it can give the user a quick popup to say "event created" or event
where the error messages appear. Maybe Mateus can bring the error messages
up as well?

On Wed, Sep 23, 2020 at 10:43 PM George Bell <notifications@github.com>
wrote:

--

*Lucas Belem*

Communications Project Manager

The Meeting House
270

[2020-09-24 02:52] lucastbelem commented on #419
Ignore my second question..I saw you already set up an issue for mateus.

[2020-09-24 02:53] lucastbelem commented on #429
@mmacedom George is referring to the event creation screen.

[2020-09-24 02:54] lucastbelem commented on #399
Manually or from the user's edit?

[2020-09-24 02:55] GeorgeBellTMH commented on #399
Yah, it's just I have to update it in two places...not a big deal, just put a note to remind myself...

[2020-09-24 02:55] #356 closed

[2020-09-24 02:56] GeorgeBellTMH commented on #419
Ya it goes from the create mode to edit mode, and in edit mode you need to have save…but there should be some notification that it saved or that it was created in both cases….

On Sep 23, 2020, at 10:52 PM, Lucas Belem <notifications@github.com<mailto:notifications@github.com>> wrote:

Ignore my second question..I saw you already set up an issue for mateus.

—
You are receiving this because you we

[2020-09-24 02:56] lucastbelem commented on #434
Just waiting to hear back from David to confirm problem is solved.

[2020-09-24 02:59] lucastbelem commented on #322
@mmacedom you might be good to look into this one after Orgs got sorted.

[2020-09-24 03:03] lucastbelem commented on #72
@GeorgeBellTMH can we close this?

[2020-09-24 03:05] #158 closed

[2020-09-24 03:18] lucastbelem commented on #215
@JonEsparaz did we solve the memberCount issue?

[2020-09-24 03:33] JonEsparaz commented on #215
Not yet.

[2020-09-24 03:34] GeorgeBellTMH opened #440 "Tooltips on ProfileImages"
We need to add a showNameInTooltip="true/false" prop to ProfileImage component that then shows a tooltip with the username/details on mouseOver...this should be turned on where it makes sense (like in events/groups membership)

[2020-09-24 03:35] GeorgeBellTMH commented on #72
Yup, testing is a bigger issue we will have to tackle later...

[2020-09-24 03:35] #72 closed

[2020-09-24 03:36] GeorgeBellTMH commented on #215
I think we could probably easily do this with a scheduled lambda that just updates it every couple of hours...

[2020-09-24 06:51] GeorgeBellTMH commented on #374
- [X] Payment button added to course screen
- [X] Setup a course in the admin page (click the rocket and add a product)
- [X] The flow works and is currently set to use the PayPal Sandbox (you need to create sandbox users to test it)
- [X] On successful payment we save the data from PayPal and save to dynamo

There is some more stuff to do, but I'm going to put it on the main LD ticket...and close

[2020-09-24 06:51] #374 closed

[2020-09-24 07:02] GeorgeBellTMH commented on #426
Can you validate this works on dev and then I will publish it to beta tomorrow...

[2020-09-24 13:06] lucastbelem commented on #426
Just checked dev and am able to create courses now :)

Thanks man!

Before you publish to beta, can you please re-label:

Learning Groups to Cohorts;
Cohorts to Learning Collective;

Thanks!

[2020-09-24 13:57] lucastbelem commented on #434
I can confirm this problem is solved.

[2020-09-24 13:57] #434 closed

[2020-09-25 02:53] #426 closed

[2020-09-25 02:58] GeorgeBellTMH opened #442 "Use custom queries on the following pages"
Use custom queries so that we don't get into situations where the object model doesn't load when we add new collections...the important pages are:

Profile
Payment

┆Issue is synchronized with this [Wrike Task](https://www.wrike.com/open.htm?id=713145669)

[2020-09-25 03:43] GeorgeBellTMH commented on #229
Closing since this is generic...

[2020-09-25 03:43] #229 closed

[2020-09-26 06:51] GeorgeBellTMH opened #444 "Blank screen when creating user from non standard url"
When creating a user and your login started from a non standard url you may get a white screen...solution is to just enter the beta.jesuscollective.com url and try again...

[2020-09-26 06:52] GeorgeBellTMH commented on #36
Closing, need more specific fixes going forward...

[2020-09-26 06:52] #36 closed

[2020-09-26 06:54] GeorgeBellTMH commented on #58
This is working now it seems...

[2020-09-26 06:54] #58 closed

[2020-09-26 06:57] GeorgeBellTMH commented on #406
Not done yet...bascially we need to create an RSS reader component and then get it pointing at different podcasts...likely each resource should be able to contain multiple RSS readers...

[2020-09-26 06:58] GeorgeBellTMH commented on #68
Duplicate of #406

[2020-09-26 06:58] #68 closed

[2020-09-26 07:02] GeorgeBellTMH commented on #167
Closing for #391

[2020-09-26 07:02] #167 closed

[2020-09-27 04:34] GeorgeBellTMH commented on #316
@lucastbelem can you test the following:

Invites: go to Rocket Admin->CRM->Invite - you may need to delete a non-admin user to test this (or use an email that isn't already in the system)

Add/remove user from group: Rocket Admin->CRM->Groups (add/remove - be careful not to delete your admin access)

Payments in courses: Go to course->click pay->(use a user from the PayPal sandbox)->should get a

[2020-09-27 04:41] GeorgeBellTMH opened #445 "Invite email"
Make an admin interface to create invite templates

[2020-09-27 05:15] GeorgeBellTMH commented on #316
Note - when testing this functionality make sure you start from the root directory (dev.jesuscollective.com) - if there is stuff after .com in the url it won't work...

[2020-09-28 04:04] mmacedom commented on #429
Thanks @lucastbelem. I just fixed it

[2020-09-28 04:04] #429 closed

[2020-09-28 08:16] GeorgeBellTMH commented on #316
Please also test the calendar, todo list, and Learning Collective/Cohort message boxes (the facilitator doesn't work yet)....suggest you add a bunch of users and test with different combo's of them to ensure the messages are visible correctly, the lists of cohort members and coaches is correct etc...

[2020-09-28 08:20] GeorgeBellTMH commented on #316
Also note, for coaches (or anyone who is in two separate cohorts) it will show a dropdown in the message area where you can pick them (@mmacedom you will need to do some styling here)...if the user is only in one it doesn't show the dropdown...

[2020-09-28 13:21] lucastbelem opened #447 "Instructor description field design"
Instructor description in course design is not matching figma - it seems there a box surrounding the text.

<img width="1066" alt="Screen Shot 2020-09-28 at 9 20 30 AM" src="https://user-images.githubusercontent.com/48295718/94437614-ff393600-016b-11eb-84b1-c5f23d461273.png">

[2020-09-28 13:24] lucastbelem opened #448 "Cohorts do not appear"
I created a test course and see the learning collective as I add people to cohorts. However, when I save it, the learning collective appears with everyone I've added to any cohort, but the cohorts themselves do not appear.

<img width="819" alt="Screen Shot 2020-09-28 at 9 23 40 AM" src="https://user-images.githubusercontent.com/48295718/94437918-68b94480-016c-11eb-9e1c-73ed9fe7cc42.png">

[2020-09-28 13:27] lucastbelem opened #449 "Bug creating zoom url"
When I create a new zoom assignment in courses, there is a bug occurring where as I type into the field, the characters get jumbled and the url does not form as I typed it.
<img width="782" alt="Screen Shot 2020-09-28 at 9 26 24 AM" src="https://user-images.githubusercontent.com/48295718/94438237-d5344380-016c-11eb-96e9-7d36db9c165c.png">

[2020-09-28 13:28] lucastbelem commented on #449
I can paste the url, so that's not as high priority as I thought.

[2020-09-28 13:35] lucastbelem commented on #316
Could not pay for course. When I clicked "Purchase" I got this screen:
<img width="1118" alt="Screen Shot 2020-09-28 at 9 35 15 AM" src="https://user-images.githubusercontent.com/48295718/94439108-f9445480-016d-11eb-9c5a-6094edfff624.png">

[2020-09-28 13:40] lucastbelem opened #450 "Course marketing page styling"
When I put a lot of content into the course marketing page right column, the text box stays the same size and content is scrollable. As seen here:
<img width="920" alt="Screen Shot 2020-09-28 at 9 38 47 AM" src="https://user-images.githubusercontent.com/48295718/94439541-89829980-016e-11eb-9e77-22ec88276186.png">

I need this content to fill the page instead and when saved, it should not look like

[2020-09-28 13:47] lucastbelem opened #451 "Menu items in courses"
Menu items should change to "Week 1", "Week 2", etc as the user creates new menu items/weeks. Currently, the button says "new menu item", but once the first item is created, it should change to whatever the user calls that item (i.e. Week 1).

[2020-09-28 14:16] lucastbelem opened #452 "Text box around assignment description"
Similarly to the instructor description, a text box is wrapped around the assignment description. The ideal behaviour would be for there not to be a text box around the text when in view mode and more importantly,  rather than scroll within the box, the text would push contents below it further down so that the page is scrollable (rather than the text box).

<img width="1199" alt="Screen Shot 2020

[2020-09-28 14:20] lucastbelem commented on #448
My mistake.

[2020-09-28 14:20] #448 closed

[2020-09-28 14:20] lucastbelem opened #453 "Learning groups need renaming"
Learning Groups still need to be renamed to Cohorts.

[2020-09-28 14:40] lucastbelem commented on #316
@GeorgeBellTMH summary of tests:

- [ ] Invites: go to Rocket Admin->CRM->Invite
- [ ] Add/remove user from group: Rocket Admin->CRM->Groups (add/remove)
- [ ] Payments in courses: Go to course->click pay->(use a user from the PayPal sandbox)->should get a confirmation (can validate via Admin->CRM->Payments
- [ ] Test the calendar
- [ ] Todo list
- [ ] Learning Collective/Cohort message boxes

[2020-09-28 14:44] lucastbelem commented on #316
Could not perform payment. Could not pay for existing leadership development course - I think this is because I'm an admin. I'll get someone else to test.
When I clicked "Purchase" in test course I created, I received the following screen:
<img width="1118" alt="Screen Shot 2020-09-28 at 9 35 15 AM" src="https://user-images.githubusercontent.com/48295718/94447189-88a23580-0177-11eb-9a80-4ef127d949

[2020-09-28 14:45] lucastbelem commented on #316
Course activity does not pass a test - I submitted an assignment, but it did not reflect in course activity.

[2020-09-28 14:46] lucastbelem commented on #316
Calendar and to-do both work and display entered data (i.e. assignment dates, upcoming assignments). There is no clickable action, but the design doesn't really flesh that out, so I consider this complete.

[2020-09-28 16:06] GeorgeBellTMH commented on #451
You can click and hold to rename menu items.

Sent from my iPhone

On Sep 28, 2020, at 9:47 AM, Lucas Belem <notifications@github.com> wrote:

﻿

Menu items should change to "Week 1", "Week 2", etc as the user creates new menu items/weeks. Currently, the button says "new menu item", but once the first item is created, it should change to whatever the user calls that item (i.e. Week 1).

—
You are

[2020-09-28 16:07] GeorgeBellTMH commented on #448
Cohorts only appear if you are assigned to one as a coach or member. Probably for admins it should list them all...

Sent from my iPhone

On Sep 28, 2020, at 10:20 AM, Lucas Belem <notifications@github.com> wrote:

﻿

Reopened #448<https://github.com/jesus-collective/mobile/issues/448>.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://git

[2020-09-28 16:09] GeorgeBellTMH commented on #316
To make a payment you have to create the product in the admin menu...the id of the product must match the id of the course (visible in the url and formatted like course-xxxx) once the product is made you should be able to buy...

Sent from my iPhone

On Sep 28, 2020, at 10:44 AM, Lucas Belem <notifications@github.com> wrote:

﻿

[ ] Payments in courses: Go to course->click pay->(use a user from th

[2020-09-29 00:21] mmacedom commented on #322
@lucastbelem this has been fixed and pushed in a new PR.

[2020-09-29 00:21] #322 closed

[2020-09-29 00:29] mmacedom commented on #447
@lucastbelem I am trying to replicate this bug on my local but have not been able to do so both on edit and non edit mode on the course home description (please see attached). I'll bring this up with George to see why there's such thing happening.
<img width="1413" alt="Screen Shot 2020-09-28 at 8 27 07 PM" src="https://user-images.githubusercontent.com/24467324/94498866-3f7ad180-01c9-11eb-908c-bd

[2020-09-29 01:25] mmacedom commented on #452
@lucastbelem I just took a look at this and similarly to my previous comment about the grey box, for whatever reason, I am not able to replicate this bug on my local. However, I did fix the overscroll. The copy content should push everything down once in place. I'll also ask George about this

[2020-09-29 01:27] mmacedom commented on #452
<img width="1368" alt="Screen Shot 2020-09-28 at 9 27 05 PM" src="https://user-images.githubusercontent.com/24467324/94502108-69d08d00-01d1-11eb-9565-8b7c31c6d6fc.png">
<img width="1385" alt="Screen Shot 2020-09-28 at 9 27 12 PM" src="https://user-images.githubusercontent.com/24467324/94502109-6b9a5080-01d1-11eb-96d5-0728f800a180.png">

[2020-09-29 02:57] GeorgeBellTMH opened #455 "Todo list issues"
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/47749730/94507513-ea958600-01dd-11eb-9a70-0092837dbdf6.png">

[2020-09-29 03:14] mmacedom commented on #455
hey @GeorgeBellTMH. What browser is this on? I'm on Chrome and my local is showing this (see below). Let me know so I can sort this out. Thx

<img width="1413" alt="Screen Shot 2020-09-28 at 8 27 07 PM" src="https://user-images.githubusercontent.com/24467324/94508643-64c70a00-01e0-11eb-8de3-7f03552b1b5c.png">

[2020-09-29 03:29] GeorgeBellTMH commented on #455
Safari.

Sent from my iPhone

On Sep 28, 2020, at 11:15 PM, mmacedom <notifications@github.com> wrote:

﻿

hey @GeorgeBellTMH<https://github.com/GeorgeBellTMH>. What browser is this on? I'm on Chrome and my local is showing this (see below). Let me know so I can sort this out. Thx

[Screen Shot 2020-09-28 at 8 27 07 PM]<https://user-images.githubusercontent.com/24467324/94508643-64c70a00-01e0-11eb

[2020-09-29 04:04] #451 closed

[2020-09-29 04:10] GeorgeBellTMH commented on #316
You can direct message everyone now by clicking on the start conversation button...it will take you to the direct message window...

[2020-09-29 04:12] GeorgeBellTMH opened #457 "Reset permissions for all course message boards when a user is added/deleted"
When a user is added or deleted we need to reset the permissions for all the course message boards so they can see the messages...

[2020-09-29 04:12] GeorgeBellTMH commented on #457
Possibly needs to be done in backend due to number of updates...

[2020-09-29 04:23] GeorgeBellTMH opened #458 "Test: Perform a multi-user test of courses/assignments"
1. Create a course with the following setup:

Leader: Leader1
Group1: Coach1, USER1, USER2, USER3
Group2: Coach1: USER4, USER5, USER6
Group3: Coach2: USER7, USER8, USER9

2. Login as Leader1 and create the following course setup

Week1: zoom, assignment1, response1
Week2: assignment2, response2

3. Login as Leader1, Coach1 and Coach2...you shouldn't be able to make assignments

4. Login as USER1 -

[2020-09-29 04:28] GeorgeBellTMH commented on #458
@lucastbelem can you create some test users, then we can use them to perform tests...

1) on cognito create a user, testuserX@themeetinghouse.com - use password Password#1 and mark the email as verified...
2) login as that user and fill out a profile (if you can make the name: TestUser 1 - and if you can make the profile image a number that would be the easiest for testing)

[2020-09-29 20:35] GeorgeBellTMH opened #459 "Can edit id's on payments"
@lucastbelem

[2020-09-29 20:36] GeorgeBellTMH commented on #459
This is now pushed to dev site.

[2020-09-29 20:36] #459 closed

[2020-09-29 20:38] GeorgeBellTMH commented on #453
This is fixed...in next publish

[2020-09-29 20:38] #453 closed

[2020-09-29 20:53] GeorgeBellTMH opened #460 "Profile images clickable"
All profile images now click through to the user's profile.

[2020-09-29 20:53] #460 closed

[2020-09-29 20:53] GeorgeBellTMH commented on #460
@lucastbelem

[2020-09-29 21:05] GeorgeBellTMH opened #461 "Remove date/leader from week view and add RichText"
@lucastbelem this is done, publishing now.

[2020-09-29 21:05] #461 closed

[2020-09-30 00:02] lucastbelem opened #462 "CRM Design improvements"
@mmacedom could you please take a look at the CRM page in admin (under the rocket icon) and see what you can do to improve the design there? This is admin facing only, users don't see that, but it could use a bit of care. There is no approved design for this, so whatever you can do to improve it is great.

I.e. problems:
- When you open a group, to close it you press the X, but it's not super clea

[2020-09-30 00:04] lucastbelem commented on #447
@mmacedom this seems to be resolved, so I'm closing.

[2020-09-30 00:04] #447 closed

[2020-09-30 00:04] lucastbelem commented on #452
Seems to have resolved itself as well.

[2020-09-30 00:04] #452 closed

[2020-09-30 00:06] lucastbelem opened #463 "Courses secondary nav styling"
We decided today to not follow the Figma designs for this menu (i.e. Week 1, Week 2). Can we please make it so that the week that is select gets its font changed to white so the user knows which week they are looking at?

[2020-09-30 06:03] GeorgeBellTMH opened #465 "Don't show ?? when date not set...just leaving it blank"
fixed

[2020-09-30 06:03] #465 closed

[2020-09-30 06:14] GeorgeBellTMH opened #466 "When inviting from courses ensure group setup is correct"
When someone is invited to join it should add user to verifiedUsers group.

With course selected it should add user to courseUsers and verifiedUsers.

[2020-09-30 06:15] #466 closed

[2020-09-30 11:22] lucastbelem opened #467 "Course ID not editable"
Course Id for product creation not editable. When I enter the course ID, the name of the course changes to the ID I entered, but the name remains the default JC-XXXX course id.

[2020-09-30 11:24] lucastbelem opened #468 "Copy change"
"Syllabus" needs to change to "Learning Guide".

[2020-09-30 11:26] lucastbelem opened #469 "Refresh on assignments"
- [x] There is a bug going on where I can't see my assignment or see it in the review list until I refresh the page. Before I refresh it says "message cannot be displayed" where my assignment should be.
- [x] Review Assignments not working properly. When I click through submitted assignments, it should change the assignment I see underneath it.